{% extends "base.html" %}

{% block title %}About Every Kid in a Park{% endblock title %}
{% block page_id %}about{% endblock page_id %}

{% block content %}

<h1> About </h1>

<p>Every Kid in a Park is an initiaive by President Barack Obama to encourage
every kid to explore America's great outdoors and unique history. Each year,
4th graders get a free pass to visit federal lands and waters.</p>

<h2>Participating Agencies</h2>

<p> Seven agencies are responsible for your federal lands and waters. Learn
more about their conservation work and other activities by visiting their
websites.</p>

<h3>Bureau of Land Management</h3>

<p><a href="http://www.blm.gov">http://www.blm.gov</a></p>

<p>The Bureau of Land Management manages 250 million acres of public lands,
and visitors enjoy countless types of outdoor adventure: camping, hunting,
hiking, horseback riding, boating, white water rafting, hang gliding, mountain
biking, birding and wildlife viewing, photography, climbing, all types of
winter sports, and visiting natural and cultural heritage sites.</p>

<h3>Bureau of Reclamation</h3>

<p><a href="http://www.usbr.gov">http://www.usbr.gov</a></p>

<p>The Bureau of Reclamation plays a major role in meeting the increasing
public demands for water based outdoor recreation facilities and opportunities.
It is the steward of 6.5 million acres of land and water that is, for the most
part, available for public outdoor recreation.</p>

<h3>National Oceanic and Atmospheric Administration</h3>

<p><a href="http://www.noaa.gov">http://www.noaa.gov</a></p>

<p>The National Oceanic and Atmospheric Administration manages national marine
sanctuaries. You can fish, whale watch, surf and dive and national marine
sanctuaries.</p>

<h3>National Park Service</h3>

<p><a href="http://www.nps.gov">http://www.nps.gov</a></p>

<p>The National Park Service manages national parks and monuments. It preserves
the natural and cultural resources, and values of the national park system for
the enjoyment, education and inspiration of this and future generations.</p>

<h3>U.S. Fish & Wildlife Service</h3>

<p><a href="http://www.fws.gov">http://www.fws.gov</a></p>

<p> Clean water. Clean air. Unusual and abundant wildlife. World-class
recreation. The National Wildlife Refuge System protects it all on 150 million
acres of land and water, but more than 418 million acres of national marine
monuments.</p>

<h3>U.S. Forest service</h3>

<p><a href="http://www.fs.fed.us">http://www.fs.fed.us</a></p>

<p>From the ice fields of Alaska to the tropical rainforest of Puerto Rico,
these 193 million acres of national forests and grasslands offer a large
variety of outdoor recreation activities.</p>

<h3>US Army Corps of Engineers</h3>

<p><a href="http://www.corpslakes.us">http://www.corpslakes.us</a></p>

<p>The Army Corps of Engineers are stewards of the lands and waters at Corps
water resource projects (lakes, beaches and other areas). It's natural
resources management mission is to conserve those resources while providing
quality public outdoor recreation experiences.</p>

<h2> Code </h2>

<p>This website was developed in the <a
href="https://github.com/18F/ekip-api">open</a>. We welcome contributions and
comments.</p>

{% endblock content %}
