{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About Every Kid in a Park{% endblock title %}

{% block page_id %}about{% endblock page_id %}

{% block background %}canoeing{% endblock background %}

{% block content %}

  <div class="about-content">

    <h1>About</h1>

    <p>Marvel at the St. Louis Arch, the Florida Keys, and the Frederick Douglass house.
    Listen to wolves howl. Walk in dinsoaur tracks. Look up into the inky night sky, and
    reach for the stars!</p>

    <p>These sites belong to all of us — including you.</p>

    <p>President Barack Obama created Every Kid in a Park so fourth graders and their families
    could discover our wildlife, resources, and history for free.</p>

    <div class="about-more">
      Partner Agencies & More

      <svg class="arrow-down" width="36px" height="21px" viewBox="0 0 36 21" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-757.000000, -384.000000)" fill="#FFE897">
            <path d="M792.840667,386.497942 L790.349333,384 L774.920333,399.469926 L759.491333,384 L757,386.497942 L774.920333,404.465809 L792.840667,386.497942"></path>
          </g>
        </g>
      </svg>
    </div>


  </div>

{% endblock content %}

{% block content_inner %}

  <div class="background-fishies"></div>

  <div class="agencies">
    <div class="agencies-content">

      <h2>America’s dazzling recreational and learning landscapes protect our wildlife, natural resources, and historic sites, holding them in the public trust and supporting a healthy planet.</h2>

      <div class="participating">

        <h3>Participating Agencies</h3>
        <p>Eight agencies manage federal lands and waters and support Every Kid in a Park. Learn more about their conservation work and find activities by visiting their websites.</p>

        <ul>
          <li>
            <h4>Bureau of Land Management</h4>
            <span class="expand">click to expand</span>
            <div class="description">
              <p><a href="http://www.blm.gov">http://www.blm.gov</a><br/>
              The Bureau of Land Management manages 250 million acres of public lands, and visitors enjoy countless types of outdoor adventure: camping, hunting, hiking, horseback riding, boating, white water rafting, hang gliding, mountain biking, birding and wildlife viewing, photography, climbing, all types of winter sports, and visiting natural and cultural heritage sites.</p>
            </div>
          </li>
          <li>
            <h4>Bureau of Reclamation</h4>
            <span class="expand">click to expand</span>
            <div class="description">
              <p><a href="http://www.usbr.gov">http://www.usbr.gov</a><br/>
              The Bureau of Reclamation plays a major role in meeting the increasing
              public demands for water based outdoor recreation facilities and opportunities. It is the steward of 6.5 million acres of land and water that is, for the most part, available for public outdoor recreation.</p>
            </div>
          </li>
          <li>
            <h4>National Oceanic and Atmospheric Administration</h4>
            <span class="expand">click to expand</span>
            <div class="description">
              <p><a href="http://www.noaa.gov">http://www.noaa.gov</a><br/>
              The National Oceanic and Atmospheric Administration manages national marine sanctuaries. You can fish, whale watch, surf and dive and national marine sanctuaries.</p>
            </div>
          </li>
          <li>
            <h4>National Park Service</h4>
            <span class="expand">click to expand</span>
            <div class="description">
              <p><a href="http://www.nps.gov">http://www.nps.gov</a><br/>
              The National Park Service manages national parks and monuments. It preserves the natural and cultural resources, and values of the national park system for the enjoyment, education and inspiration of this and future generations.</p>
            </div>
          </li>
          <li>
            <h4>U.S. Fish & Wildlife Service</h4>
            <span class="expand">click to expand</span>
            <div class="description">
              <p><a href="http://www.fws.gov">http://www.fws.gov</a><br/>
              Clean water. Clean air. Unusual and abundant wildlife. World-class
              recreation. The National Wildlife Refuge System protects it all on 150 million acres of land and water, but more than 418 million acres of national marine monuments.</p>
            </div>
          </li>
          <li>
            <h4>U.S. Forest service</h4>
            <span class="expand">click to expand</span>
            <div class="description">
              <p><a href="http://www.fs.fed.us">http://www.fs.fed.us</a><br/>
              From the ice fields of Alaska to the tropical rainforest of Puerto Rico, these 193 million acres of national forests and grasslands offer a large variety of outdoor recreation activities.</p>
            </div>
          </li>
          <li>
            <h4>US Army Corps of Engineers</h4>
            <span class="expand">click to expand</span>
            <div class="description">
              <p><a href="http://www.corpslakes.us">http://www.corpslakes.us</a><br/>
              The Army Corps of Engineers are stewards of the lands and waters at Corps water resource projects (lakes, beaches and other areas). It's natural resources management mission is to conserve those resources while providing quality public outdoor recreation experiences.</p>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="contact">
    <div class="contact-content">

      <img src="{% static "img/about-kids.jpg" %}" alt="" />
      <h2>Press</h2>

      <p>Here is a downloadable <a href="{% static "media/media-kit.zip" %}">media kit</a> (ZIP file, 63 MB)</a>.</p>

      <h2>Code</h2>
      <p>We developed this website in the <a href="https://github.com/18F/ekip-api">open</a> and welcome your contributions and comments.</p>
    </div>
  </div>

{% endblock content_inner %}
