{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="{% static "css/style.min.css" %}" />
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

  <title>Every Kid in a Park | {% block title %}{% endblock title %}</title>
  <meta name="description" content="">

</head>

<body id="{% block page_id %}{% endblock page_id %}">

  <div class="govt-banner">
    An official website of the United States Government.
    <img alt="US flag signifying that this is a United States Federal Government website" src="{% static 'img/us_flag_small.png' %}" />
  </div>

  <section class="{% block background %}{% endblock background %}">

    {% include "nav.html" %}

    <div class="content">
      {% block content %}{% endblock content %}
    </div>

  </section>

  <section class="content-inner">
    {% block content_inner %}{% endblock content_inner %}
  </section>

  <footer>

    <section class="footer-content">

      <p>Share your #EveryKidInAPark story:</p>

      <ul class="social">
        <li>
          <a href="http://www.instagram.com/everykidinapark" target="_blank">
            <img src="{% static 'img/social/instagram.svg' %}" alt="" />
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <a href="http://www.twitter.com/everykidinapark" target="_blank">
            <img src="{% static 'img/social/twitter.svg' %}" alt="" />
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="http://www.facebook.com/everykidinapark" target="_blank">
            <img src="{% static 'img/social/facebook.svg' %}" alt="" />
            <span>Facebook</span>
          </a>
        </li>
      </ul>

      <nav>
        <ul>
          <li>
            <a href="{% url 'about_ekip' %}">About Every Kid in a Park</a>
          </li>
          <li>
            <a href="{% url 'privacy_policy' %}">Privacy policy</a>
          </li>
        </ul>
      </nav>

    </section>

  </footer>

</body>
</html>
