{% extends "base.html" %}

{% block body %}

<div class="container">
    <section class="content">
        <h1> Educators </h1>
    </section>

    <p> As a 4th grade educator, you can download a learning activity, and
    print paper vouchers for your students. These vouchers will give them free
    access for their 4th grade year, and the following summer to federal lands
    and waters. </p>

    <p> You are a 4th grade educator if: <p>

    <ol>
        <li> you are a teacher of 4th graders at a US school or a US military school. </li>

        <li> or you are responsible for the engagement of 4th graders as part
        of a youth serving organization. This includes religious group leaders,
        camp directors and leaders of home-schoolers or after-school programs.
        </li>
    </ol>

    <!-- <p> We've created a fun, standards-based learning activity that you can use
    to introduce topics surrouding federal lands and waters to your 4th grade
    students. </p> -->

    <h3> Lesson plans and activities </h3>

    <p> We've created fun, standards based learning activities that you can use
    to introduce topics surrounding federal lands and waters to your 4th grader
    students. </p>

    <ul>
        <li> 
            Compare and contract the types of environments found in national
            parks, describe what a national park is, and find information using
            maps. <br />

            <a href="http://www.nps.gov/teachers/classrooms/natpar45.htm">See activity details.</a> 
        </li>

        <li>
            Make pinwheels and use the power of the wind to do work. <br />

            <a href="http://www.blm.gov/wo/st/en/res/Education_in_BLM/Learning_Landscapes/For_Teachers/science_and_children/energy/index/energy8/energy11.html">See activity details</a>
        </li>
    </ul>

    <h3> Vouchers for your students </h3>
 
    <p> Once your students have successfully completed the activity, you can
    award them with vouchers. Each student will receive their own individual
    voucher.</p>

    <p> To access the vouchers, please complete the short form below. </p>
</div>

{% endblock %}
