    {% if form.errors %}
      <div class="errors">
        Please correctly fill out the fields below:
      </div>
    {% endif %}

    <span>Fourth-grade educator info:</span>
    <ul>
    {% for field in form %}
      {% if field.html_name == 'organization_name' %}
    </ul>
    <span>Organizational information:</span>
    <ul>
      {% endif %}
      {% if field.html_name != 'zipcode' %}
      <li>
      {% endif %}
        <div class="{{ field.html_name }}{% if field.errors %} error{% endif %}">
          {{ field.label_tag }}
          {{ field }}
        </div>
      {% if field.html_name != 'state' %}
      </li>
      {% endif %}
    {% endfor %}
    </ul>
