{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Main{% endblock title %}

{% block page_id %}landing{% endblock page_id %}

{% block background %}mountain{% endblock background %}

{% block content %}

  <img src="{% static "img/logo.png" %}" alt="" />

  <h2>Hey 4th Graders!</h2>
  <div class="landing-description">
    Get a free one-year pass to all of America's national parks, forests, lands and waters
  </div>

  <a href="/get-your-pass">
    <button>Get Started!</button>
  </a>

{% endblock content %}
