{% load staticfiles %}
{% load tags %}

    <ul class="top-links">
      <li class="{% active request 'about' %}">
        <a href="{% url 'about_ekip' %}">About</a>
      </li>
      <li class="{% active request 'educator' %}">
        <a href="{% url 'educator_passes' %}">Educators</a>
      </li>
    </ul>

    <section class="menu-container">

      <nav>
        <div class="logo">
          <a href="/">
            <img src="{% static "img/nav-logo.png" %}" alt="Every Kid In A Park Logo" />
          </a>
        </div>

        <div class="menu">

          <svg class="home-line" width="2px" height="61px" viewBox="0 0 2 61" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g transform="translate(-261.000000, -220.000000)" stroke="#FFFFFF" stroke-width="2" stroke-dasharray="6,4">
                    <path d="M262,220 L262,252"></path>
                </g>
            </g>
          </svg>

          <svg class="lines" viewBox="0 0 55 99" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-279.000000, -142.000000)" stroke-width="2" stroke-dasharray="6,4">
                <g transform="translate(279.000000, 142.000000)">
                  <path d="M54,0.5 L54,54.5512466 L13.8198828,54.5512466"></path>
                  <path d="M1,62.5 L1,101.551247"></path>
                </g>
              </g>
            </g>
          </svg>

          <ul>
            <li class="home">
              <a href="/">Home</a>
            </li>
            <li class="{% active request 'how-it-works' %}">
              <a href="{% url 'how_it_works' %}">How It Works</a>
            <li class="{% active request 'get-your-pass' %}">
              <a href="{% url 'get_your_pass' %}">Get Your Pass</a>
            </li>
            <li class="{% active request 'plan-your-trip' %}" >
              <a href="{% url 'plan_your_trip' %}">Plan a Trip</a>
            </li>
          </ul>
        </div>

      </nav>
    </section>
