{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock title %}
{% block page_id %}privacy-policy{% endblock page_id %}
{% block background %}landing{% endblock background %}

{% block content %}

<h1> Privacy Policy </h1>

<p>Every Kid in a Park is a new initiative from the Department of Interior that
aims to give every 4th grader in the country an opportunity to gain free entry
into the national parks, historic structures, cultural artifacts, ancient
forests, snow-capped mountains, and clear blue lakes across the country.</p>

<h2>Every Kid in a Park Privacy Policy</h2>

<p>Every Kid in a Park does not ask for or collect personal,
individually-identifiable information from kids. We request users provide their
ZIP code for analytics purposes and to generate a ticket for entrance into
National Parks and Public Lands. We also collect other analytics so we can
learn about our visitors, but we can't tell personal information from them. We
do not create individual profiles from the information provided or distribute
the information to other organizations.</p>

<h2>Information Collected and Stored Automatically</h2>

<p>We will collect no personal information about you when you visit our website.
We collect and store only the following information about you:</p>

<ul>
    <li>ZIP Code</li>
    <li>IP Address</li>
    <li>Aggregate Web Browser Statistics (for example, your web browser
    version, your operating system type, and other general details)</li>
</ul>

<p>We use the information we collect to measure the number and type of visitors
to the different sections of our site so that we can make our site more
useful.</p>

<h2>Security Notice</h2>

<p>For site security purposes and to ensure that this service remains available to
all users, Every Kid in a Park follows industry-standard methods to monitor
network traffic to identify unauthorized attempts to upload or change
information, or otherwise cause damage. Unauthorized attempts to upload
information or change information on DOI servers are strictly prohibited and
may be punishable by law, including the Computer Fraud and Abuse Act of 1986
and the National Information Infrastructure Protection Act. In the specific
context of this security monitoring, there is no expectation of privacy.
However, only in the case of actual law enforcement investigations, will we
attempt to identify individual users or their usage habits.</p>

<p>
<a href="http://www.ftc.gov/bcp/conline/edcams/kidzprivacy/index.html">Government Children's Privacy Policy </a>
</p>

<p>
<a href="http://www.doi.gov/privacy.cfm">Department of the Interior Privacy Policy</a>
</p>

{% endblock content %}
