{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock title %}
{% block page_id %}privacy-policy{% endblock page_id %}
{% block background %}landing{% endblock background %}

{% block content %}

<h1> Every Kid in a Park privacy policy </h1>

<h2>Fourth graders</h2>
<p>We don't collect any information that could personally identify you. 
We do ask you to tell us the general area where you live. Knowing this helps us 
analyze who is using the program. It also helps us make your paper pass and protect against misuse.</p>
 
<p>We collect general information about our visitors so we can improve our website. 
If you want more information, see the <a href="http://www.doi.gov/privacy.cfm">Department of the Interior Privacy Policy</a>. 
Also see the <a href="http://www.ftc.gov/bcp/conline/edcams/kidzprivacy/index.html">Government Children's Privacy Policy </a>.</p>


<h2>Educators</h2>
<p>On this site, we ask you to give us some basic information. 
You're not required to provide it to us, but it's necessary to get a pass. 
We collect this information to give free passes to fourth graders and educators. 
We use it to make sure you're eligible for a free pass and to promote Every Kid in a Park. 
These passes allow free access to public lands and waters.</p>

<p>We may share the information with other agency groups or organizations. 
This helps us measure and improve the program. It also helps us stop fraud and abuse.</p>
 
<p>We do all this under the authority of the Federal Lands Recreation Enhancement Act of 2004 
(REA), 16 U.S.C. 6804.</p>

