# Django, using PostgreSQL
Django==1.9.10
psycopg2
dj-database-url
waitress==0.8.9
whitenoise==1.0.6
django-cors-headers
django-localflavor
restless
-e git+https://github.com/django/django-formtools.git#egg=django-formtools
boto
newrelic==2.54.0.41

# @see http://code.larlet.fr/django-storages/issue/155/python-3-support
-e git+https://github.com/coagulant/django-storages-py3.git@py3#egg=django-storages

# Recordlocator
-e git+https://github.com/18F/record-locator.git#egg=recordlocator
