# Django, using PostgreSQL
Django
psycopg2
dj-database-url
waitress==0.8.9
whitenoise==1.0.6
django-cors-headers
django-localflavor
restless
django-formtools

# Recordlocator
-e git+https://github.com/18F/record-locator.git#egg=recordlocator
