<html>

<h1> Voucher Redemption </h1>
<h2> {{pass_site.name}} </h2>
<h3> {{ pass_site.city }}, {{ pass_site.state }} </h3>

(Not this location? <a href="/redeem/">Find your recreation site.</a>)

<p> Use this form to enter Every Kid in a Park vouchers redeemed at your
location. </p>

<p> You can enter voucher ids, up to ten at a time. Using a barcode scanner?
Make sure the scanner is set to H tab mode before continuing.</p>

<form action="/redeem/specific/{{pass_site.slug}}/" method="POST">
{% csrf_token %}

{{formset.management_form}}

{% for form in formset %}
    {{ form.as_p }}
{% endfor %}

<input type="submit" value="Submit Voucher IDs" />

</form>
</html>
