{% extends "base-redemption.html" %}
{% load humanize %}

{% block title %}Statistics{% endblock title %}

{% block content %}

    <h1>Data</h1>

    <h2>Exchanges</h2>

    <p>The following CSV download provides line-item data on exchanges (paper
    pass for plastic) that have been reported by the various sites.</p>
 
<!--     <p> <a href="{% url 'exchanges_data' %}?start=09%2F01%2F2015">All data since launch (CSV).</a></p>
 -->
    <p> </p>

    <form action="{% url 'exchanges_data' %}" method="get">
      Start Date:<br>
      <input type="text" name="start_date" class="datepicker" required><br>
      End Date:<br>
      <input type="text" name="end_date" class="datepicker"><br>
      <input type="submit" value="Download Data (CSV)."><br>
    </form>

{% endblock content %}
