{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content diary">

    <div class="diary-left">
      <div class="page">
        <h2>Here's what I decided to do ...</h2>
      </div>
    </div>

    <div class="diary-right">

      <div class="page">

        <ul>
          <li>
            <a href="{% url 'adventure_nature_walk' %}">
            <img src="{% static "img/activity/nature-walk.jpg" %}" alt="nature walk" />
            <button>I went on a nature walk!</button>
            </a>
          </li>
          <li>
            <a href="{% url 'adventure_time_travel' %}">
            <img src="{% static "img/activity/time-travel.jpg" %}" alt="time travel" />
            <button>I time traveled!</button>
            </a>
          </li>
          <li>
            <a href="{% url 'adventure_swimming' %}">
            <img src="{% static "img/activity/beach.jpg" %}" alt="beach" />
            <button>I went swimming!</button>
            </a>
          </li>
        </ul>

      </div>
    </div>

  </div>

{% endblock content %}
