{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}tent{% endblock background %}

{% block content %}

  <div class="pass-content">

    <p> When I arrived I saw </p>

    <form method='POST'>
        {% csrf_token %}
        <ul>
            <li><button type="submit" name='huge-mountain' value="huge mountains">Huge mountains!</button></li>
            <li><button type="submit" name='wild-animals' value="wild animals">Wild animals!</button></li>
            <li><button type="submit" name='beautiful-plants' value="beautiful-plants">Beautiful plants!</button></li>
        </ul>
    </form>


    </div>
{% endblock content %}
