{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content diary diary-end">

    <div class="diary-left">
      <div class="page">

        <h2>Dear Diary,</h2>

        <p> Today I went on a nature walk and saw {{selection}}. Our country has thousands of things to see 
        — like pine trees and prickly pears! Like lizards and bears! Like volcanoes and snowy mountains! 
        I can't wait to use my pass to see more!</p>




      </div>
    </div>

    <div class="diary-right">
      <div class="page">

      {% if selection == "huge mountains" %}
        <img src="{% static "img/activity/end-walk.jpg" %}" alt="walk" />
        <img src="{% static "img/activity/end-mountain.jpg" %}" alt="mountain" />
      {% elif selection == "wild animals" %}
        <img src="{% static "img/activity/end-walk.jpg" %}" alt="walk" />
        <img src="{% static "img/activity/end-animal.jpg" %}" alt="gecko" />
      {% elif selection == "beautiful plants" %}
        <img src="{% static "img/activity/end-walk.jpg" %}" alt="walk" />
        <img src="{% static "img/activity/end-plant.jpg" %}" alt="cactis" />
      {% else %}
        <img src="{% static "img/activity/end-walk.jpg" %}" alt="walk" />
        <img src="{% static "img/activity/end-mountain.jpg" %}" alt="mountain" />
      {% endif %}

      <a href="{% url 'game_success' %}"><button>Get your pass now</button></a>
    </div>
  </div>

 </div>
{% endblock content %}
