{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}tent{% endblock background %}

{% block content %}

  <div class="pass-content">

    <p> The best part is that this cool place belongs to me! </p>
    <p> What a great trip </p>

    <p>
    Your story: a nature walk to see {{selection}}!
    </p>

    <a href={%url "game_success" %}><button>Get your pass now</button></a>

    <hr />

    <p>Dear Diary,</p>

    <p>Today I used my free pass to explore America!</p>

    <p>At first I was nervous, because there were so many options. There were
    parks, forests, seashores, and wildlife habitats to visit. I had to decide
    what I wanted to do.</p>

    <p>I went on a nature walk! When I arrived, I saw {{selection}}. And the
     best part is that this cool place belongs to me! What a great trip.</p> 

    </div>
{% endblock content %}
