{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Get Your Pass - Fourth Graders" %}{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content diary">

    <div class="diary-left">
      <div class="page">
        <h2>{% trans "When I arrived I saw:" %}</h2>
      </div>
    </div>

    <div class="diary-right">
      <div class="page">
        <form method='POST'>
          {% csrf_token %}
          <ul>
            <li>
              <img src="{% static "img/activity/mountains.jpg" %}" alt="{% trans 'When I arrived I saw huge mountains.' %}" />
              <button type="submit" name='huge-mountain' value="huge mountains">{% trans "Huge mountains!" %}</button>
            </li>
            <li>
              <img src="{% static "img/activity/animal.jpg" %}" alt="{% trans 'When I arrived I saw wild animals.' %}" />
              <button type="submit" name='wild-animals' value="wild animals">{% trans "Wild animals!" %}</button>
            </li>
            <li>
              <img src="{% static "img/activity/plant.jpg" %}" alt="{% trans 'When I arrived I saw beautiful plants.' %}" />
              <button type="submit" name='beautiful-plants' value="beautiful-plants">{% trans "Beautiful plants!" %}</button>
            </li>
          </ul>
        </form>
        </div>
      </div>
    </div>

{% endblock content %}
