{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content diary">

    <div class="diary-left"></div>

    <div class="diary-right">

      <div class="page">

        <h2>Dear Diary,</h2>

        <p>Today I used my free pass to explore the U.S.! At first I was
        nervous because there were so many options. There were parks, forests,
        seashores, and wildlife habitats to visit. <span>I had to decide what I
        wanted to do.</span></p>

        <a href="{% url 'choose_adventure_type' %}"><button class="start">Start</button></a>
      </div>
    </div>

  </div>

{% endblock content %}
