{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content diary">

    <div class="diary-left"></div>

    <div class="diary-right">

      <div class="page">

        <h2> Dear Diary, </h2>

        <p>Today I used my free pass to explore America! At first I was nervous, because there were so many options. There were parks, forests, seashores, and wildlife habitats to visit. <span>I had to decide what I wanted to do.</span></p>

        <button class="start"><a href="">Start</a></button>

        {% comment %}
        <ul>
            <li><a href="{% url 'adventure_nature_walk' %}"><button>I went on a nature walk!</button></a></li>
            <li><a href="{% url 'adventure_time_travel' %}"><button>I time traveled!</button></a></li>
            <li><a href="{% url 'adventure_swimming' %}"><button>I went swimming!</button></a></li>
        </ul>
        {% endcomment %}

      </div>
    </div>

  </div>

{% endblock content %}
