{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content diary diary-end">
    <div class="diary-left">
      <div class="page">
        <h2>Dear Diary,</h2>
        <p>Today I used my free pass to explore America!</p>

        <p>At first I was nervous, because there were so many options. There were
        parks, forests, seashores, and wildlife habitats to visit. I had to decide
        what I wanted to do.</p>

        <p>I went swimming! I could hardly wait to jump into that fresh, cold
        {{selection}}. And the best part is that this cool place belongs to me!
        What a great trip.</p>
      </div>
    </div>

    <div class="diary-right">
      <div class="page">

        <img src="{% static "img/activity/end-swim.jpg" %}" alt="beach" />
        <img src="{% static "img/activity/end-plant.jpg" %}" alt="cactus" />

        <a href={%url "game_success" %}><button>Get your pass now</button></a>
      </div>
    </div>
  </div>

{% endblock content %}
