{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content diary diary-end">
    <div class="diary-left">
      <div class="page">
        <h2>Dear Diary,</h2>
        <p>Today I swam in {{selection}}! I made sure to go with an adult.</p> 
        <p>Sometimes water is clear — you can see straight to the bottom. 
        Sometimes it's wavy and green, or blue. I can't wait to use my pass to discover more cool places.</p>
        
      </div>
    </div>

    <div class="diary-right">
      <div class="page">

      {% if selection == "ocean" %}
        <img src="{% static "img/activity/end-swim.jpg" %}" alt="beach" />
        <img src="{% static "img/activity/end-ocean.jpg" %}" alt="ocean" />
      {% elif selection == "lake" %}
        <img src="{% static "img/activity/end-swim.jpg" %}" alt="beach" />
        <img src="{% static "img/activity/end-lake.jpg" %}" alt="lake" />
      {% elif selection == "river" %}
        <img src="{% static "img/activity/end-swim.jpg" %}" alt="beach" />
        <img src="{% static "img/activity/end-river.jpg" %}" alt="river" />
      {% else %}
        <img src="{% static "img/activity/end-swim.jpg" %}" alt="beach" />
        <img src="{% static "img/activity/end-river.jpg" %}" alt="river" />
      {% endif %}

        <a href={% url "game_success" %}><button>Get your pass now</button></a>
      </div>
    </div>
  </div>

{% endblock content %}
