{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content diary">
    <div class="diary-left">
      <div class="page">
        <h2>I could hardly wait to jump into that fresh, cold: </h2>
        </div>
    </div>

    <div class="diary-right">
      <div class="page">
        <form method='POST'>
        {% csrf_token %}
        <ul>
          <li>
            <img src="{% static "img/activity/ocean.jpg" %}" alt="I could hardly wait to jump into that fresh, cold ocean." />
            <button type="submit" name='selection' value="ocean">Ocean!</button>
          </li>
          <li>
            <img src="{% static "img/activity/lake.jpg" %}" alt="I could hardly wait to jump into that fresh, cold lake." />
            <button type="submit" name='selection' value="lake">Lake!</button>
          </li>
          <li>
            <img src="{% static "img/activity/river.jpg" %}" alt="I could hardly wait to jump into that fresh, cold river." />
            <button type="submit" name='selection' value="river">River!</button>
          </li>
        </ul>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
