{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content diary diary-end">
    <div class="diary-left">
      <div class="page">
        <h2>Dear Diary,</h2>
        <p>Today I saw {{selection}}! It was exciting to listen to the past. 
        America's story ranges from roaming dinosaurs all the way to me!</p>
        <p>I can't wait to use my pass to discover more historic places.</p>
      </div>
    </div>

    <div class="diary-right">
      <div class="page">

      {% if selection == "Martin Luther King's house" %}
        <img src="{% static "img/activity/end-timetravel.jpg" %}" alt="walk" />
        <img src="{% static "img/activity/end-house.jpg" %}" alt="mountain" />
      {% elif selection == "ancient drawings" %}
        <img src="{% static "img/activity/end-timetravel.jpg" %}" alt="walk" />
        <img src="{% static "img/activity/end-drawings.jpg" %}" alt="mountain" />
      {% elif selection == "dinosaur tracks" %}
        <img src="{% static "img/activity/end-timetravel.jpg" %}" alt="walk" />
        <img src="{% static "img/activity/end-tracks.jpg" %}" alt="mountain" />
      {% else %}
        <img src="{% static "img/activity/end-timetravel.jpg" %}" alt="walk" />
        <img src="{% static "img/activity/end-mountain.jpg" %}" alt="mountain" />
      {% endif %}

        <a href={% url "game_success" %}><button>Get your pass now</button></a>
      </div>
    </div>
  </div>
{% endblock content %}
