{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content diary diary-end">
    <div class="diary-left">
      <div class="page">
        <h2>Dear Diary,</h2>
        <p>Today I used my free pass to explore America!</p>

        <p>At first I was nervous, because there were so many options.
        There were parks, forests, seashores, and wildlife habitats to
        visit. I had to decide what I wanted to do.</p>

        <p>I time travelled! It was so cool to see {{selection}}. And the
        best part is that this cool place belongs to me! What a great
        trip.</p>
      </div>
    </div>

    <div class="diary-right">
      <div class="page">

      {% if selection == "Martin Luther King's house" %}
        <img src="{% static "img/activity/end-timetravel.jpg" %}" alt="walk" />
        <img src="{% static "img/activity/end-house.jpg" %}" alt="mountain" />
      {% elif selection == "ancient drawings" %}
        <img src="{% static "img/activity/end-timetravel.jpg" %}" alt="walk" />
        <img src="{% static "img/activity/end-drawings.jpg" %}" alt="mountain" />
      {% elif selection == "dinosaur tracks" %}
        <img src="{% static "img/activity/end-timetravel.jpg" %}" alt="walk" />
        <img src="{% static "img/activity/end-tracks.jpg" %}" alt="mountain" />
      {% else %}
        <img src="{% static "img/activity/end-timetravel.jpg" %}" alt="walk" />
        <img src="{% static "img/activity/end-mountain.jpg" %}" alt="mountain" />
      {% endif %}

        <a href={% url "game_success" %}><button>Get your pass now</button></a>
      </div>
    </div>
  </div>
{% endblock content %}
