{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content diary">
    <div class="diary-left">
      <div class="page">
        <h2>It was so cool to see:</h2>
      </div>
    </div>

    <div class="diary-right">
      <div class="page">
        <form method='POST'>
        {% csrf_token %}
        <ul>
          <li>
            <img src="{% static "img/activity/house.jpg" %}" alt="house" />
            <button type="submit" name='selection' value="mlk-house">Martin Luther King Jr.'s house!</button>
          </li>
          <li>
            <img src="{% static "img/activity/drawings.jpg" %}" alt="drawings" />
            <button type="submit" name='selection' value="ancient-drawings">Ancient drawings!</button>
          </li>
          <li>
            <img src="{% static "img/activity/tracks.jpg" %}" alt="dinosaur tracks" />
            <button type="submit" name='selection' value="dinosaur-tracks">Dinosaur tracks!</button>
          </li>
        </ul>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
