{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}tent{% endblock background %}

{% block content %}

  <div class="pass-content">

    <p> It was so cool to see </p>

    <form method='POST'>
        {% csrf_token %}
        <ul>
            <li>
                <button type="submit" name='selection' value="mlk-house">
                    Martin Luther King's house!
                </button>
            </li>
            <li>
                <button type="submit" name='selection' value="ancient-drawings">
                    Ancient drawings!
                </button>
            </li>
            <li>
                <button type="submit" name='selection' value="dinosaur-tracks">
                    Dinosaur tracks!
                </button>
            </li>
        </ul>
    </form>
    </div>
{% endblock content %}
