body, html {
  background: #177099;
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0 0 5px 0;
  font-family: "Superclarendon", serif; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none; }

p {
  margin: 5px 0; }

ul, ol {
  margin: 0;
  padding: 0; }
  ul li, ol li {
    list-style: none; }

button {
  font-family: "Superclarendon", serif;
  text-transform: uppercase;
  padding: 10px 15px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-align: center; }
  button a {
    text-decoration: none; }

.govt-banner {
  background-color: #2C2C2C;
  color: #fff;
  text-align: center;
  padding: 7px 0;
  font-size: 13px; }

ul.top-links {
  background: rgba(0, 0, 0, 0.5);
  margin-top: 2px;
  padding: 0 30px 0 0;
  right: 0;
  position: absolute;
  z-index: 500;
  display: inline-block; }
  ul.top-links li {
    font-size: 14px;
    line-height: 12px;
    font-weight: bold;
    margin: 12px 0;
    padding: 0 15px;
    border-right: 1px solid #fff;
    display: inline-block; }
    ul.top-links li a {
      text-decoration: none;
      opacity: 0.7;
      -webkit-transition: opacity 0.4s ease-in;
      -moz-transition: opacity 0.4s ease-in;
      transition: opacity 0.4s ease-in; }
      ul.top-links li a:hover {
        opacity: 1; }
    ul.top-links li.active a {
      color: #FFE897;
      opacity: 1;
      cursor: default; }
    ul.top-links li:last-child {
      border: none; }

#educators .educators-link {
  color: #FFE897; }

.menu-container {
  max-width: 985px;
  margin: auto;
  position: relative; }
  .menu-container nav {
    max-width: 210px;
    position: absolute;
    top: 50px; }
    .menu-container nav .logo {
      margin: 0 0 20px 27px;
      z-index: 100;
      font-size: 14px;
      display: inline-block;
      position: relative; }
      .menu-container nav .logo img {
        width: 174px; }
    .menu-container nav .home-line {
      top: 50px;
      left: 60px;
      position: absolute; }
      .menu-container nav .home-line g {
        stroke: #fff; }
    .menu-container nav .menu {
      position: relative; }
    .menu-container nav .lines {
      width: 55px;
      height: 99px;
      top: 106px;
      right: 27px;
      z-index: 0;
      position: absolute; }
      .menu-container nav .lines g {
        stroke: #fff; }
    .menu-container nav ul {
      z-index: 100;
      position: relative;
      display: inline-block; }
    .menu-container nav li {
      z-index: 100;
      background: #fff;
      margin: 0 0 23px 0;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      font-family: "Superclarendon", serif;
      text-align: center;
      display: inline-block; }
      .menu-container nav li.active a {
        background: #177099;
        color: #fff;
        border: 2px solid #fff;
        cursor: default; }
        .menu-container nav li.active a:hover {
          opacity: 1; }
        .menu-container nav li.active a:before {
          width: 55px;
          height: 55px;
          background: url(../img/nav-compass.png) center center no-repeat;
          content: "\00a0";
          top: 5px;
          left: -37px;
          position: absolute; }
      .menu-container nav li a {
        width: inherit;
        height: inherit;
        border: 2px solid #177099;
        padding: 12px 15px;
        text-decoration: none;
        color: #177099;
        position: relative;
        display: block;
        -webkit-transition: background 0.1s ease-in, color 0.1s ease-in;
        -moz-transition: background 0.1s ease-in, color 0.1s ease-in;
        transition: background 0.1s ease-in, color 0.1s ease-in; }
        .menu-container nav li a:hover {
          background: #177099;
          border: 2px solid #fff;
          color: #fff;
          opacity: 0.8; }
      .menu-container nav li:nth-child(2) {
        margin-left: 40px; }
        .menu-container nav li:nth-child(2) a:before {
          top: -25px;
          left: -40px; }
      .menu-container nav li:nth-child(4) {
        margin-left: 55px; }
        .menu-container nav li:nth-child(4) a:before {
          top: 20px;
          left: -35px; }

.mountain {
  background: url(../img/backgrounds/mountain.png) no-repeat center bottom;
  background-size: cover; }
  .mountain .menu-container nav li {
    border: none; }

.hills {
  background: url(../img/backgrounds/hills.jpg) no-repeat center bottom;
  background-size: cover; }

.tent {
  background: url(../img/backgrounds/tent.png) no-repeat center bottom;
  background-size: cover; }

.brown-rocks {
  background: url(../img/backgrounds/brownrocks.jpg) no-repeat center center fixed;
  background-size: cover; }

.blue-sky-tent {
  background: url(../img/backgrounds/blue-sky-tent.jpg) no-repeat center bottom;
  background-size: cover; }

.river {
  background: url(../img/backgrounds/river.jpg) no-repeat center bottom;
  background-size: cover; }

.content {
  max-width: 725px;
  min-height: 508px;
  margin: auto;
  padding: 100px 0 50px 260px;
  position: relative; }

.errors {
  padding: 10px 0;
  color: #ff0000; }

#student-pass .content ul,
#student-pass .content-inner ul,
#plan-your-trip .content ul,
#plan-your-trip .content-inner ul,
#privacy-policy .content ul, #privacy-policy .content-inner ul {
  margin: 5px 0 5px 20px; }
  #student-pass .content ul li,
  #student-pass .content-inner ul li,
  #plan-your-trip .content ul li,
  #plan-your-trip .content-inner ul li,
  #privacy-policy .content ul li, #privacy-policy .content-inner ul li {
    padding: 0 0 5px 0;
    list-style: bullet; }

#privacy-policy .content {
  font-weight: 200; }
  #privacy-policy .content h1 {
    line-height: 40px; }
  #privacy-policy .content h2 {
    font-size: 30px;
    padding: 15px 0 0 0; }
  #privacy-policy .content h3 {
    padding: 10px 0 0 0; }
  #privacy-policy .content p {
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 10px 0; }

#landing h1 {
  max-width: 660px;
  font-size: 40px;
  margin: 0 auto 20px auto; }
  #landing h1 span {
    color: #FFE897; }

#landing .menu-container nav {
  top: 90px; }
  #landing .menu-container nav .logo,
  #landing .menu-container nav .home-line,
  #landing .menu-container nav li.home {
    display: none; }
  #landing .menu-container nav .lines {
    top: 38px; }

#landing .content {
  max-width: 985px;
  text-align: center;
  padding: 88px 0 0 0;
  margin: auto; }
  #landing .content img {
    max-width: 256px;
    margin: 0 0 45px 0; }
  #landing .content button {
    border: 4px solid #fff;
    background: transparent;
    letter-spacing: 1px;
    color: #fff;
    font-size: 19px;
    padding: 20px 30px;
    margin: 0 0 90px 0;
    -webkit-transition: background 0.2s ease-in, color 0.2s ease-in;
    -moz-transition: background 0.2s ease-in, color 0.2s ease-in;
    transition: background 0.2s ease-in, color 0.2s ease-in; }
    #landing .content button:hover {
      background: #fff;
      color: #177099; }

#landing .content-inner-block {
  background: #C82629 url(../img/backgrounds/landing-icons.png) top 40px center no-repeat; }
  #landing .content-inner-block section {
    max-width: 1080px;
    padding: 65px 20px 75px 20px;
    margin: auto; }
    #landing .content-inner-block section ul::after {
      clear: both;
      content: "";
      display: table; }
    #landing .content-inner-block section li::after {
      clear: both;
      content: "";
      display: table; }
    #landing .content-inner-block section li .image {
      background: #C82629;
      border: 4px solid #fff;
      display: inline-block; }
      #landing .content-inner-block section li .image img {
        border-bottom: 4px solid #fff; }
      #landing .content-inner-block section li .image .caption {
        font-size: 16px;
        padding: 3px 13px 10px 13px; }
    #landing .content-inner-block section li .description {
      max-width: 450px;
      display: inline-block;
      vertical-align: top; }
      #landing .content-inner-block section li .description h2 {
        font-size: 30px;
        padding-bottom: 0; }
      #landing .content-inner-block section li .description p {
        margin: 0 0 25px 0;
        font-size: 22px;
        line-height: 30px;
        font-weight: 300; }
      #landing .content-inner-block section li .description button {
        background: #FFE897 url(../img/icon-fish-red.png) center left 10px no-repeat;
        color: #C82629;
        padding: 13px 13px 13px 45px;
        -webkit-transition: background 0.3s ease-in, color 0.3s ease-in;
        -moz-transition: background 0.3s ease-in, color 0.3s ease-in;
        transition: background 0.3s ease-in, color 0.3s ease-in; }
        #landing .content-inner-block section li .description button:hover {
          background: #fff url(../img/icon-fish-red.png) center left 10px no-repeat; }
    #landing .content-inner-block section li:nth-child(even) .image {
      float: right; }
    #landing .content-inner-block section li.ekip .description {
      margin: 100px 0 0 45px; }
    #landing .content-inner-block section li.fourth-graders {
      margin: 65px 0 0 0; }
      #landing .content-inner-block section li.fourth-graders .image {
        margin: 0 25px 0 0; }
      #landing .content-inner-block section li.fourth-graders .description {
        margin: 100px 0 0 90px; }
    #landing .content-inner-block section li.parents {
      margin: 170px 0 0 0; }
      #landing .content-inner-block section li.parents .image {
        margin: 0 0 0 55px; }
      #landing .content-inner-block section li.parents .description {
        margin: 30px 0 0 18px; }
    #landing .content-inner-block section li.educators .description {
      margin: 180px 0 0 150px; }

#landing .content-inner-quote {
  background: #177099; }
  #landing .content-inner-quote section {
    max-width: 780px;
    margin: auto;
    padding: 50px 0 60px 0; }
    #landing .content-inner-quote section .quote {
      font-family: "Superclarendon", serif;
      font-size: 30px;
      font-weight: 600; }

#how-it-works .content-block {
  max-width: 600px;
  font-size: 22px;
  font-weight: 300;
  text-align: center; }
  #how-it-works .content-block h1 {
    text-align: left; }
  #how-it-works .content-block p {
    text-align: left;
    margin: 0; }
  #how-it-works .content-block button {
    font-size: 18px;
    margin: 100px 0 0 0;
    padding: 20px 30px;
    border: 4px solid #fff;
    -webkit-transition: background 0.2s ease-in, color 0.2s ease-in;
    -moz-transition: background 0.2s ease-in, color 0.2s ease-in;
    transition: background 0.2s ease-in, color 0.2s ease-in; }
    #how-it-works .content-block button:hover {
      background: #fff;
      color: #177099; }

#how-it-works .content-inner {
  font-weight: 300; }
  #how-it-works .content-inner h2 {
    font-size: 30px; }
  #how-it-works .content-inner ol li {
    width: 100%;
    height: 100%;
    padding: 60px 0 120px 0;
    background: #C82629;
    list-style: none; }
    #how-it-works .content-inner ol li:nth-child(even) {
      background: #FDEED0;
      color: #000; }
      #how-it-works .content-inner ol li:nth-child(even) h2 {
        background: #C82629;
        color: #fff; }
      #how-it-works .content-inner ol li:nth-child(even) .step-container {
        margin-left: 300px; }
    #how-it-works .content-inner ol li h2 {
      width: 50px;
      height: 45px;
      background: #fff;
      border-radius: 30px;
      font-size: 38px;
      color: #C82629;
      margin: 0 20px 0 0;
      text-align: center;
      display: inline-block;
      vertical-align: top; }
    #how-it-works .content-inner ol li .step-container {
      max-width: 900px;
      margin: auto; }
      #how-it-works .content-inner ol li .step-container .step {
        max-width: 500px;
        font-size: 22px;
        display: inline-block; }
  #how-it-works .content-inner .reminders {
    max-width: 1030px;
    padding: 60px 20px 80px 20px;
    margin: auto; }
    #how-it-works .content-inner .reminders ul {
      max-width: 600px; }
    #how-it-works .content-inner .reminders li {
      font-size: 16px;
      line-height: 20px;
      padding: 0 0 10px 0; }

#get-your-pass .content {
  min-height: 600px; }

#get-your-pass .pass-content {
  background: rgba(23, 112, 153, 0.9);
  padding: 30px;
  font-size: 22px;
  font-weight: 300; }
  #get-your-pass .pass-content::after {
    clear: both;
    content: "";
    display: table; }
  #get-your-pass .pass-content h1 {
    width: 370px;
    line-height: 40px;
    padding: 0 0 13px 0;
    float: left; }
  #get-your-pass .pass-content p {
    width: 370px;
    line-height: 25px;
    margin: 0 0 30px 0;
    float: left; }
  #get-your-pass .pass-content img {
    float: left; }
  #get-your-pass .pass-content ul.boxes {
    width: 254px;
    float: right; }
    #get-your-pass .pass-content ul.boxes li {
      padding: 25px;
      margin: 0 0 15px 0;
      border: 2px solid #489BC0;
      text-align: center;
      float: right; }
      #get-your-pass .pass-content ul.boxes li a {
        text-decoration: none; }
      #get-your-pass .pass-content ul.boxes li h2 {
        color: #FFE897;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 1px;
        text-transform: uppercase; }
      #get-your-pass .pass-content ul.boxes li p {
        width: auto;
        margin: 0;
        font-size: 18px;
        line-height: 18px; }
      #get-your-pass .pass-content ul.boxes li.fourth-graders {
        background: #FFE897;
        border: none;
        color: #177099; }
        #get-your-pass .pass-content ul.boxes li.fourth-graders h2 {
          color: #177099;
          font-size: 20px;
          line-height: 22px;
          font-weight: bold;
          text-transform: uppercase; }
        #get-your-pass .pass-content ul.boxes li.fourth-graders p {
          line-height: 22px;
          margin: 0 0 20px 0; }
        #get-your-pass .pass-content ul.boxes li.fourth-graders button {
          background: url(../img/icon-fish-blue.png) center left 10px no-repeat;
          border: 2px solid #177099;
          color: #177099;
          font-weight: 600;
          padding: 10px 20px 10px 45px;
          letter-spacing: 1px;
          -webkit-transition: background 0.2s ease-in, color 0.2s ease-in;
          -moz-transition: background 0.2s ease-in, color 0.2s ease-in;
          transition: background 0.2s ease-in, color 0.2s ease-in; }
          #get-your-pass .pass-content ul.boxes li.fourth-graders button:hover {
            border: 2px solid #177099;
            background: #177099 url(../img/icon-fish-white.png) center left 10px no-repeat;
            color: #fff; }
      #get-your-pass .pass-content ul.boxes li:last-child {
        margin: 0; }

#student-pass .pass-content {
  max-width: 670px;
  background: rgba(23, 112, 153, 0.9);
  padding: 35px;
  font-size: 18px;
  font-weight: 300; }
  #student-pass .pass-content::after {
    clear: both;
    content: "";
    display: table; }
  #student-pass .pass-content form {
    max-width: 360px;
    margin: 30px auto;
    border: 2px solid #fff;
    padding: 30px;
    text-align: center; }
    #student-pass .pass-content form .error {
      color: #ff0000;
      font-size: 14px;
      font-weight: bold; }
      #student-pass .pass-content form .error div {
        padding: 0 0 10px 0; }
      #student-pass .pass-content form .error input[type="text"] {
        border: 1px solid #ff0000; }
  #student-pass .pass-content label {
    font-size: 16px;
    padding: 0 0 15px 0;
    cursor: pointer;
    display: block; }
    #student-pass .pass-content label span {
      font-weight: bold; }
  #student-pass .pass-content input[type="checkbox"] {
    background: #FFE897; }
  #student-pass .pass-content button {
    margin: 15px 0 0 0;
    padding: 15px 40px;
    background: #FFE897;
    color: #177099;
    letter-spacing: 1px; }

#student-pass .voucher-claim .voucher-claim-description {
  max-width: 420px;
  float: left; }

#student-pass .voucher-claim .voucher-claim-zipcode {
  width: 210px;
  padding: 0 0 0 15px;
  float: left; }

#student-pass .voucher-claim form {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  border: none;
  vertical-align: top;
  clear: both; }
  #student-pass .voucher-claim form label {
    font-weight: bold;
    padding: 0 0 10px 0;
    cursor: default; }
  #student-pass .voucher-claim form input[type="text"] {
    width: 180px;
    height: 28px;
    padding: 10px;
    margin: 0 15px 0 0;
    color: #177099;
    font-size: 16px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.7);
    float: left; }
  #student-pass .voucher-claim form button {
    width: 202px;
    height: 50px;
    background: #FFE897;
    font-weight: normal;
    padding: 15px;
    margin: 0;
    float: left; }

#educators .content {
  padding-bottom: 110px; }
  #educators .content h2, #educators .content p, #educators .content .explanation {
    max-width: 710px; }
  #educators .content p {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 5px 0; }
  #educators .content .box {
    max-width: 570px;
    border: 2px solid #FFE087;
    padding: 25px;
    margin: 40px 0 20px 0;
    position: relative; }
    #educators .content .box h3 {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase; }
    #educators .content .box p {
      width: auto;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.4em;
      margin: 7px 0; }
    #educators .content .box a {
      text-decoration: none; }
    #educators .content .box button {
      background: #FFE087;
      color: #683E2D;
      letter-spacing: 1px;
      padding: 15px 20px;
      margin: 25px auto 0 auto;
      display: block; }
  #educators .content .animate-line {
    right: 310px;
    position: absolute;
    display: none; }

#educators .content-inner {
  background: #E9FCEB;
  color: #306B38; }

#educators .content-inner-block {
  max-width: 585px;
  padding: 100px 0;
  margin: auto; }
  #educators .content-inner-block h3 {
    font-size: 30px;
    padding: 0; }
  #educators .content-inner-block p {
    font-size: 18px;
    line-height: 1.4em;
    color: #323232;
    margin-bottom: 30px; }
  #educators .content-inner-block .download-activity {
    max-width: 310px;
    padding: 0 0 90px 50px;
    border-left: 5px dotted #B0CFB4;
    position: relative; }
    #educators .content-inner-block .download-activity h3 {
      line-height: 32px; }
    #educators .content-inner-block .download-activity:before {
      background: #2D6C35;
      color: #E9FCEB;
      padding: 13px 15px;
      font-family: "Superclarendon", serif;
      font-size: 38px;
      line-height: 25px;
      font-weight: bold;
      border-radius: 30px;
      content: "1";
      position: absolute;
      left: -28px; }
  #educators .content-inner-block .generate-vouchers {
    padding: 0 0 0 50px;
    position: relative; }
    #educators .content-inner-block .generate-vouchers:before {
      background: #2D6C35;
      color: #E9FCEB;
      padding: 13px;
      font-family: "Superclarendon", serif;
      font-size: 38px;
      line-height: 25px;
      font-weight: bold;
      border-radius: 30px;
      content: "2";
      position: absolute;
      top: -10px;
      left: -24px; }

#educators form {
  max-width: 370px;
  padding: 15px 0 0 0;
  margin: 0 0 0 50px; }
  #educators form::after {
    clear: both;
    content: "";
    display: table; }
  #educators form span {
    font-size: 18px; }
  #educators form ul {
    padding: 10px 0; }
  #educators form li {
    list-style: none;
    margin: 0 0 15px 0;
    clear: both; }
    #educators form li label {
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 5px;
      display: block; }
    #educators form li input[type="text"] {
      width: 100%;
      font-size: 18px;
      border: 1px solid #5A7C5D;
      padding: 15px;
      margin: 0 0 10px 0; }
    #educators form li input[type="number"] {
      width: 50px;
      font-size: 18px;
      border: 1px solid #5A7C5D;
      padding: 10px; }
    #educators form li select {
      font-size: 18px; }
    #educators form li .org_or_school > label {
      display: none; }
    #educators form li .org_or_school ul {
      padding: 0; }
      #educators form li .org_or_school ul li {
        margin: 0;
        display: inline-block;
        position: relative;
        padding-left: 15px; }
        #educators form li .org_or_school ul li input[type="radio"] {
          margin: 0 5px 0 0; }
        #educators form li .org_or_school ul li:nth-child(1) {
          padding: 0 20px 0 0; }
        #educators form li .org_or_school ul li:nth-child(2) {
          padding: 0 0 0 35px; }
          #educators form li .org_or_school ul li:nth-child(2):before {
            content: "or";
            font-size: 18px;
            position: absolute;
            left: 0; }
    #educators form li .city {
      width: 230px; }
    #educators form li .state {
      width: 200px;
      float: left; }
    #educators form li .zipcode {
      width: 100px;
      float: right; }
    #educators form li .error input, #educators form li .error select {
      border: 1px solid red; }
    #educators form li .error.org_or_school {
      border: 1px solid red; }
  #educators form button {
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin-right: -30px;
    background: #306B38;
    float: right; }
    #educators form button span {
      color: #FFD77B;
      font-size: 14px; }

#educators .preview {
  max-width: 550px;
  background: #D7FDDC;
  color: #306B38;
  padding: 30px;
  font-size: 18px; }
  #educators .preview h2 {
    font-size: 30px; }
  #educators .preview p {
    color: #323232;
    font-size: 18px; }
  #educators .preview form {
    margin: 0; }
  #educators .preview .data {
    padding: 20px 0 0 90px; }
    #educators .preview .data form {
      width: auto; }
      #educators .preview .data form button {
        margin: 0 60px 0 0; }
  #educators .preview .edit {
    padding: 30px 0;
    clear: both; }

#plan-your-trip .plan-your-trip-content {
  background: rgba(1, 63, 91, 0.6);
  padding: 35px; }

#plan-your-trip .content {
  min-height: 540px;
  font-weight: 300;
  font-size: 24px;
  line-height: 25px; }
  #plan-your-trip .content h1 {
    max-width: 580px;
    line-height: 45px; }
  #plan-your-trip .content p {
    max-width: 580px;
    line-height: 28px;
    margin: 5px 0 15px 0; }
  #plan-your-trip .content .author {
    font-size: 17px;
    text-transform: uppercase; }
  #plan-your-trip .content form ul {
    width: 300px;
    margin: 25px auto;
    border: 2px solid #fff;
    padding: 20px; }
    #plan-your-trip .content form ul li {
      padding: 10px 0;
      text-align: center;
      list-style: none; }
  #plan-your-trip .content button {
    background: #177099;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    letter-spacing: 1px; }
  #plan-your-trip .content .sites li {
    padding: 10px 0; }

#plan-your-trip .content-inner {
  font-weight: 300; }
  #plan-your-trip .content-inner button {
    background: #FFE897;
    color: #177099;
    -webkit-transition: background 0.2s ease-in, color 0.2s ease-in;
    -moz-transition: background 0.2s ease-in, color 0.2s ease-in;
    transition: background 0.2s ease-in, color 0.2s ease-in; }
    #plan-your-trip .content-inner button:hover {
      background: #fff;
      color: #177099; }
  #plan-your-trip .content-inner .plan-your-trip-line-container {
    max-width: 950px;
    margin: auto;
    position: relative; }
    #plan-your-trip .content-inner .plan-your-trip-line-container .lines {
      width: 932px;
      height: 1594px;
      background: url(../img/plan-your-trip-lines.png) no-repeat;
      top: 70px;
      left: 100px;
      position: absolute; }
  #plan-your-trip .content-inner section {
    min-height: 500px;
    margin: auto;
    font-size: 20px;
    line-height: 24px; }
    #plan-your-trip .content-inner section h2 {
      font-size: 36px;
      line-height: 42px; }
    #plan-your-trip .content-inner section p {
      font-size: 24px;
      line-height: 28px;
      margin: 10px 0; }
    #plan-your-trip .content-inner section .section-content {
      max-width: 950px;
      margin: auto;
      position: relative; }
    #plan-your-trip .content-inner section.destination {
      background: #B1DAEC;
      color: #177099; }
      #plan-your-trip .content-inner section.destination .section-content {
        max-width: 720px;
        padding: 70px 0 0 200px; }
        #plan-your-trip .content-inner section.destination .section-content > p {
          max-width: 620px; }
        #plan-your-trip .content-inner section.destination .section-content ul {
          margin: 20px 0 0 0; }
        #plan-your-trip .content-inner section.destination .section-content li {
          width: 160px;
          height: 110px;
          padding: 25px;
          margin: 0 10px 20px 0;
          background: #fff;
          text-align: center;
          display: inline-block;
          vertical-align: top; }
          #plan-your-trip .content-inner section.destination .section-content li h3 {
            font-size: 20px;
            font-family: 'Lato', sans-serif; }
          #plan-your-trip .content-inner section.destination .section-content li a {
            text-decoration: none; }
            #plan-your-trip .content-inner section.destination .section-content li a:hover {
              text-decoration: underline; }
          #plan-your-trip .content-inner section.destination .section-content li p {
            font-size: 18px;
            line-height: 22px; }
          #plan-your-trip .content-inner section.destination .section-content li:nth-child(2) h3,
          #plan-your-trip .content-inner section.destination .section-content li:nth-child(3) h3 {
            color: #FFE897; }
          #plan-your-trip .content-inner section.destination .section-content li:nth-child(2) p,
          #plan-your-trip .content-inner section.destination .section-content li:nth-child(3) p {
            color: #fff; }
          #plan-your-trip .content-inner section.destination .section-content li:nth-child(2) {
            background: #177099; }
          #plan-your-trip .content-inner section.destination .section-content li:nth-child(3) {
            background: #2D6C35; }
    #plan-your-trip .content-inner section.lodging {
      background: #2D6C35; }
      #plan-your-trip .content-inner section.lodging .section-content {
        padding: 70px 0 0 0; }
        #plan-your-trip .content-inner section.lodging .section-content .lodging-image {
          display: inline-block; }
        #plan-your-trip .content-inner section.lodging .section-content .lodging-content {
          max-width: 400px;
          padding: 70px 0 0 120px;
          vertical-align: top;
          display: inline-block; }
    #plan-your-trip .content-inner section.prepare {
      min-height: 550px;
      background: #CBE4CE;
      color: #2D6C35; }
      #plan-your-trip .content-inner section.prepare .section-content {
        padding: 60px 0 0 0;
        cursor: text; }
        #plan-your-trip .content-inner section.prepare .section-content .prepare-content {
          width: 340px;
          padding: 70px 30px 0 200px;
          vertical-align: top;
          display: inline-block; }
        #plan-your-trip .content-inner section.prepare .section-content .packing-list {
          width: 350px;
          background: #fff;
          display: inline-block; }
          #plan-your-trip .content-inner section.prepare .section-content .packing-list h3 {
            font-size: 30px;
            padding: 30px 0 10px 20px;
            font-weight: 400; }
          #plan-your-trip .content-inner section.prepare .section-content .packing-list ul {
            width: auto;
            margin: 5px 20px;
            border-top: 2px solid #2D6C35;
            padding: 20px;
            font-size: 18px;
            font-weight: 600; }
    #plan-your-trip .content-inner section.voucher {
      background: #177099;
      color: #fff; }
      #plan-your-trip .content-inner section.voucher .section-content {
        padding: 60px 0 0 0; }
      #plan-your-trip .content-inner section.voucher .voucher-image {
        padding: 0 0 0 70px;
        vertical-align: top;
        display: inline-block; }
      #plan-your-trip .content-inner section.voucher .voucher-content {
        width: 450px;
        padding: 0 0 50px 140px;
        display: inline-block; }

#about .about-content {
  background: rgba(23, 112, 153, 0.6);
  padding: 35px 30px;
  font-size: 20px;
  line-height: 25px; }
  #about .about-content p {
    padding: 10px 0; }

#about .content-inner {
  font-weight: 200;
  position: relative; }
  #about .content-inner .background-fishies {
    background: url(../img/about-background-fish.png) top center no-repeat;
    top: 280px;
    width: 1166px;
    height: 1018px;
    position: absolute; }
  #about .content-inner .agencies {
    background: #177099; }
  #about .content-inner .agencies-content {
    max-width: 820px;
    padding: 70px 0;
    margin: auto;
    position: relative; }
    #about .content-inner .agencies-content h2 {
      color: #C9EFFF;
      font-size: 30px; }
    #about .content-inner .agencies-content .participating {
      max-width: 480px;
      margin: 40px auto 0 auto; }
      #about .content-inner .agencies-content .participating h3 {
        font-size: 23px;
        line-height: 21px;
        padding: 0; }
      #about .content-inner .agencies-content .participating p {
        font-size: 18px;
        line-height: 24px;
        padding: 0; }
      #about .content-inner .agencies-content .participating ul {
        border-top: 1px solid #62B6DB;
        margin: 15px 0; }
        #about .content-inner .agencies-content .participating ul li {
          margin: 0 0 0 27px;
          padding: 13px 0 10px 0;
          border-bottom: 1px solid #62B6DB;
          position: relative; }
          #about .content-inner .agencies-content .participating ul li:before {
            font-size: 22px;
            font-weight: 200;
            top: 12px;
            left: -20px;
            content: "+";
            position: absolute; }
        #about .content-inner .agencies-content .participating ul h4 {
          font-size: 18px;
          font-family: 'Lato', sans-serif; }
        #about .content-inner .agencies-content .participating ul .description {
          display: none; }
  #about .content-inner .contact {
    background: #B1DAEC;
    padding: 70px 0; }
  #about .content-inner .contact-content {
    width: 486px;
    color: #177099;
    margin: auto;
    position: relative; }
    #about .content-inner .contact-content img {
      margin: 0 0 35px 0; }
    #about .content-inner .contact-content h2 {
      font-size: 23px;
      line-height: 20px; }
    #about .content-inner .contact-content p {
      font-size: 18px; }

footer {
  background: #FDEED0;
  border-top: 5px solid #000;
  color: #2D6C35;
  clear: both; }
  footer .footer-content {
    max-width: 985px;
    padding: 40px 0;
    margin: auto;
    text-align: center; }
    footer .footer-content p {
      color: #683E2D;
      font-size: 16px;
      font-weight: 300; }
    footer .footer-content nav li {
      line-height: 12px;
      font-size: 12px;
      margin: 30px 0 0 0;
      padding: 0 10px;
      border-right: 1px solid #683E2D;
      display: inline-block; }
      footer .footer-content nav li a {
        text-decoration: none; }
      footer .footer-content nav li:last-child {
        padding-right: 0;
        border: none; }

@media (max-width: 1050px) {
  .menu-container nav {
    left: 25px; }
  .content {
    margin-right: 25px; }
  #landing .content-inner-block section li .description {
    max-width: 400px; } }

@media (max-width: 800px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 20px; }
  ul.top-links {
    display: none; }
  .menu-container {
    top: 0; }
  .menu-container nav {
    max-width: 100%;
    top: 0;
    left: 0;
    position: relative;
    text-align: center; }
    .menu-container nav .logo {
      margin: 5px 0; }
    .menu-container nav .logo-line,
    .menu-container nav .lines {
      display: none; }
    .menu-container nav ul {
      margin: 0 5px;
      display: block; }
    .menu-container nav li {
      font-size: 13px;
      margin: 5px; }
      .menu-container nav li.active a:before {
        display: none; }
      .menu-container nav li a {
        padding: 8px 10px; }
        .menu-container nav li a:hover:before {
          display: none; }
      .menu-container nav li:nth-child(odd) {
        margin: 0; }
  .content {
    padding: 10px 20px;
    margin: 0;
    min-height: 0; }
  #landing .menu-container nav {
    top: 0;
    padding: 5px 0; }
  #landing h1 {
    font-size: 28px;
    padding: 0; }
  #landing .content {
    padding: 0 20px; }
    #landing .content .logo {
      margin: 0; }
    #landing .content button {
      font-size: 16px;
      padding: 15px;
      margin: 0; }
  #landing .content-inner-block {
    background: #C82629; }
    #landing .content-inner-block section {
      padding: 20px 0; }
      #landing .content-inner-block section li .image {
        display: none; }
      #landing .content-inner-block section li .description {
        padding: 10px 20px; }
        #landing .content-inner-block section li .description h2 {
          font-size: 26px; }
        #landing .content-inner-block section li .description p {
          font-size: 19px;
          margin-bottom: 15px; }
      #landing .content-inner-block section li:nth-child(even) .image {
        float: none; }
      #landing .content-inner-block section li.ekip,
      #landing .content-inner-block section li.fourth-graders,
      #landing .content-inner-block section li.parents,
      #landing .content-inner-block section li.educators {
        margin: 10px 0; }
        #landing .content-inner-block section li.ekip .image,
        #landing .content-inner-block section li.ekip .description,
        #landing .content-inner-block section li.fourth-graders .image,
        #landing .content-inner-block section li.fourth-graders .description,
        #landing .content-inner-block section li.parents .image,
        #landing .content-inner-block section li.parents .description,
        #landing .content-inner-block section li.educators .image,
        #landing .content-inner-block section li.educators .description {
          margin: 0; }
  #landing .content-inner-quote section {
    padding: 30px 20px; }
    #landing .content-inner-quote section .quote {
      font-size: 26px; }
  #how-it-works .content-block button {
    margin: 20px;
    font-size: 16px;
    padding: 10px 15px; }
  #how-it-works .content-inner ol li {
    width: auto;
    height: auto;
    padding: 20px; }
    #how-it-works .content-inner ol li:nth-child(even) .step-container {
      margin-left: 0; }
    #how-it-works .content-inner ol li .step-container .step {
      font-size: 18px; }
  #how-it-works .content-inner .reminders {
    padding: 20px; }
  #get-your-pass .content .pass-content,
  #student-pass .content .pass-content {
    padding: 20px; }
    #get-your-pass .content .pass-content h1,
    #student-pass .content .pass-content h1 {
      font-size: 28px; }
  #get-your-pass .content .pass-content h1,
  #get-your-pass .content .pass-content p,
  #get-your-pass .content .pass-content img,
  #get-your-pass .content .pass-content ul.boxes,
  #get-your-pass .content .pass-content ul.boxes li {
    width: auto;
    float: none; }
  #get-your-pass .content .pass-content p {
    margin: 15px 0; }
  #get-your-pass .content .pass-content img {
    width: 100%; }
  #student-pass .voucher-claim img {
    margin: 10px 0; }
  #student-pass .voucher-claim form button {
    margin-top: 10px; }
  #educators .content {
    padding: 20px; }
  #educators .content-inner-block {
    padding: 20px; }
  #educators form {
    width: 100%;
    padding: 0;
    margin: 0; }
  #plan-your-trip .plan-your-trip-content {
    padding: 20px; }
  #plan-your-trip .content {
    font-size: 20px;
    min-height: 0; }
  #plan-your-trip .content-inner .plan-your-trip-line-container {
    display: none; }
  #plan-your-trip .content-inner section {
    width: auto;
    min-height: 0;
    font-size: 18px; }
    #plan-your-trip .content-inner section h2 {
      font-size: 25px;
      line-height: 20px; }
    #plan-your-trip .content-inner section p {
      font-size: 18px;
      line-height: 24px;
      margin: 5px 0; }
    #plan-your-trip .content-inner section.destination,
    #plan-your-trip .content-inner section.lodging,
    #plan-your-trip .content-inner section.prepare,
    #plan-your-trip .content-inner section.voucher {
      padding: 20px;
      min-height: 0; }
      #plan-your-trip .content-inner section.destination .section-content,
      #plan-your-trip .content-inner section.lodging .section-content,
      #plan-your-trip .content-inner section.prepare .section-content,
      #plan-your-trip .content-inner section.voucher .section-content {
        width: auto;
        padding: 0; }
        #plan-your-trip .content-inner section.destination .section-content .lodging-image,
        #plan-your-trip .content-inner section.lodging .section-content .lodging-image,
        #plan-your-trip .content-inner section.prepare .section-content .lodging-image,
        #plan-your-trip .content-inner section.voucher .section-content .lodging-image {
          display: none; }
        #plan-your-trip .content-inner section.destination .section-content .lodging-content,
        #plan-your-trip .content-inner section.destination .section-content .prepare-content,
        #plan-your-trip .content-inner section.lodging .section-content .lodging-content,
        #plan-your-trip .content-inner section.lodging .section-content .prepare-content,
        #plan-your-trip .content-inner section.prepare .section-content .lodging-content,
        #plan-your-trip .content-inner section.prepare .section-content .prepare-content,
        #plan-your-trip .content-inner section.voucher .section-content .lodging-content,
        #plan-your-trip .content-inner section.voucher .section-content .prepare-content {
          max-width: none;
          padding: 0; }
        #plan-your-trip .content-inner section.destination .section-content .packing-list,
        #plan-your-trip .content-inner section.lodging .section-content .packing-list,
        #plan-your-trip .content-inner section.prepare .section-content .packing-list,
        #plan-your-trip .content-inner section.voucher .section-content .packing-list {
          max-width: none;
          margin: 10px 0; }
          #plan-your-trip .content-inner section.destination .section-content .packing-list h3,
          #plan-your-trip .content-inner section.lodging .section-content .packing-list h3,
          #plan-your-trip .content-inner section.prepare .section-content .packing-list h3,
          #plan-your-trip .content-inner section.voucher .section-content .packing-list h3 {
            font-size: 24px;
            padding: 10px; }
          #plan-your-trip .content-inner section.destination .section-content .packing-list ul,
          #plan-your-trip .content-inner section.lodging .section-content .packing-list ul,
          #plan-your-trip .content-inner section.prepare .section-content .packing-list ul,
          #plan-your-trip .content-inner section.voucher .section-content .packing-list ul {
            padding: 10px;
            font-size: 16px; }
        #plan-your-trip .content-inner section.destination .section-content .voucher-image,
        #plan-your-trip .content-inner section.lodging .section-content .voucher-image,
        #plan-your-trip .content-inner section.prepare .section-content .voucher-image,
        #plan-your-trip .content-inner section.voucher .section-content .voucher-image {
          padding: 20px;
          display: block;
          text-align: center; }
        #plan-your-trip .content-inner section.destination .section-content .voucher-content,
        #plan-your-trip .content-inner section.lodging .section-content .voucher-content,
        #plan-your-trip .content-inner section.prepare .section-content .voucher-content,
        #plan-your-trip .content-inner section.voucher .section-content .voucher-content {
          width: auto;
          padding: 0; }
  #about .about-content {
    padding: 20px;
    font-size: 18px; }
  #about .content-inner .background-fishies {
    display: none; }
  #about .content-inner .agencies-content {
    padding: 20px; }
    #about .content-inner .agencies-content h2 {
      font-size: 24px; }
    #about .content-inner .agencies-content .participating {
      margin: 20px 0; }
      #about .content-inner .agencies-content .participating h3 {
        font-size: 20px; }
      #about .content-inner .agencies-content .participating p {
        font-size: 16px;
        line-height: 20px; }
  #about .content-inner .contact {
    padding: 20px; }
  #about .content-inner .contact-content img {
    margin: 0 0 20px 0;
    max-width: 100%; }
  #about .content-inner .contact-content h2 {
    font-size: 18px; }
  #about .content-inner .contact-content p {
    font-size: 16px; } }
