html, body {
  padding: 0;
  margin: 0; }

.voucher-container, .voucher-instructions {
  width: 595px;
  height: 842px;
  margin: 0 auto;
  page-break-after: always;
  font-family: 'Lato', sans-serif;
  position: relative; }
  .voucher-container h1, .voucher-container h2, .voucher-container h3, .voucher-container h4, .voucher-instructions h1, .voucher-instructions h2, .voucher-instructions h3, .voucher-instructions h4 {
    padding: 0;
    margin: 0; }
  .voucher-container .heading, .voucher-instructions .heading {
    height: 145px;
    margin: 15px 0 0 0; }
    .voucher-container .heading h1, .voucher-container .heading h2, .voucher-container .heading h3, .voucher-instructions .heading h1, .voucher-instructions .heading h2, .voucher-instructions .heading h3 {
      text-transform: uppercase;
      text-align: center; }
    .voucher-container .heading h1, .voucher-instructions .heading h1 {
      font-family: "Superclarendon", serif;
      font-size: 42px;
      line-height: 40px;
      color: #5D402E; }
    .voucher-container .heading h2, .voucher-instructions .heading h2 {
      font-size: 37px;
      font-weight: 400;
      color: #D7552A; }
    .voucher-container .heading h3, .voucher-instructions .heading h3 {
      font-size: 28px;
      line-height: 30px;
      font-weight: 300;
      color: #6C6C69; }
    .voucher-container .heading h4, .voucher-instructions .heading h4 {
      font-size: 18px;
      color: #4C89A5;
      text-align: center;
      padding: 15px 0 0 0; }
  .voucher-container .steps, .voucher-instructions .steps {
    border: 1px solid transparent;
    position: relative; }
    .voucher-container .steps .step-lines, .voucher-instructions .steps .step-lines {
      width: 350px;
      position: absolute; }
    .voucher-container .steps .voucher, .voucher-instructions .steps .voucher {
      width: 595px;
      margin: 145px 0 0 10px;
      z-index: 0;
      position: absolute; }
      .voucher-container .steps .voucher .voucher-image, .voucher-instructions .steps .voucher .voucher-image {
        width: 550px; }
      .voucher-container .steps .voucher .credit, .voucher-instructions .steps .voucher .credit {
        width: 100px;
        font-size: 8px;
        line-height: 8px;
        font-weight: 300;
        top: 37px;
        right: -27px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute; }
      .voucher-container .steps .voucher .voucher-barcode, .voucher-instructions .steps .voucher .voucher-barcode {
        top: 137px;
        right: -34px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute; }
        .voucher-container .steps .voucher .voucher-barcode img, .voucher-instructions .steps .voucher .voucher-barcode img {
          width: 100px; }
    .voucher-container .steps ol, .voucher-instructions .steps ol {
      z-index: 100;
      margin: 0;
      position: absolute; }
      .voucher-container .steps ol li, .voucher-instructions .steps ol li {
        height: 110px;
        list-style: none;
        text-align: left; }
        .voucher-container .steps ol li h2, .voucher-instructions .steps ol li h2 {
          font-size: 22px;
          color: #4C89A5; }
        .voucher-container .steps ol li p, .voucher-instructions .steps ol li p {
          font-size: 14px;
          line-height: 22px;
          font-weight: 300;
          margin: 0;
          color: #000; }
        .voucher-container .steps ol li.print-page, .voucher-instructions .steps ol li.print-page {
          width: 220px;
          margin: 35px 0 0 245px; }
        .voucher-container .steps ol li.plan, .voucher-instructions .steps ol li.plan {
          width: 250px;
          margin: 245px 0 0 295px; }
        .voucher-container .steps ol li.get, .voucher-instructions .steps ol li.get {
          width: 260px;
          margin: 0 0 0 130px;
          position: relative; }
          .voucher-container .steps ol li.get .durable-pass, .voucher-instructions .steps ol li.get .durable-pass {
            top: 32px;
            right: -120px;
            position: absolute; }
  .voucher-container .personnel, .voucher-instructions .personnel {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 0;
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    border-top: 2px dotted #BABABA;
    text-align: left; }
    .voucher-container .personnel img, .voucher-instructions .personnel img {
      width: 150px;
      margin: 5px 0;
      text-align: right;
      float: right; }
      .voucher-container .personnel img li, .voucher-container .personnel img li img, .voucher-instructions .personnel img li, .voucher-instructions .personnel img li img {
        width: 130px;
        display: inline-block; }

.voucher-instructions {
  border: 1px dotted #ccc; }
  .voucher-instructions .instruction-content {
    padding: 30px; }
    .voucher-instructions .instruction-content h2 {
      font-family: "Superclarendon", serif;
      font-size: 30px;
      font-weight: 400;
      color: #D7552A; }
    .voucher-instructions .instruction-content p {
      font-size: 18px;
      line-height: 25px; }
