#voucher-page {
  width: 595px;
  height: 812px;
  padding: 10px 0;
  margin: auto;
  font-family: 'Lato', sans-serif;
  position: relative; }
  #voucher-page h1, #voucher-page h2, #voucher-page h3 {
    padding: 0;
    margin: 0; }
  #voucher-page .heading h1, #voucher-page .heading h2, #voucher-page .heading h3 {
    text-transform: uppercase;
    text-align: center; }
  #voucher-page .heading h1 {
    font-family: "Superclarendon", serif;
    font-size: 46px;
    line-height: 40px;
    color: #5D402E; }
  #voucher-page .heading h2 {
    font-size: 42px;
    font-weight: 400;
    color: #D7552A; }
  #voucher-page .heading h3 {
    font-size: 33px;
    line-height: 30px;
    font-weight: 300;
    color: #6C6C69; }
  #voucher-page h3.instructions {
    font-size: 21px;
    color: #4C89A5;
    text-align: center;
    padding: 15px 0 25px 0; }
  #voucher-page .step {
    text-align: left; }
    #voucher-page .step h2 {
      font-size: 20px;
      color: #4C89A5;
      padding: 0; }
    #voucher-page .step p {
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      margin: 0;
      color: #000; }
    #voucher-page .step:before {
      width: 23px;
      height: 20px;
      padding: 10px 10px 13px 11px;
      text-align: center;
      border: 3px solid #4C89A5;
      border-radius: 30px;
      font-size: 30px;
      line-height: 20px;
      font-family: "Superclarendon", serif;
      font-weight: bold;
      color: #4C89A5;
      display: block;
      position: absolute;
      top: -10px;
      left: -60px; }
    #voucher-page .step.print-page {
      width: 220px;
      margin-left: 260px;
      position: relative; }
      #voucher-page .step.print-page:before {
        content: "1"; }
    #voucher-page .step.plan {
      width: 250px;
      margin: 25px 0 0 300px;
      position: relative; }
      #voucher-page .step.plan:before {
        content: "2"; }
    #voucher-page .step.get {
      width: 240px;
      margin: 25px 0 0 200px;
      position: relative; }
      #voucher-page .step.get:before {
        content: "3"; }
      #voucher-page .step.get .durable-pass {
        top: 25px;
        right: -120px;
        position: absolute; }
  #voucher-page .voucher {
    margin: 20px 0 0 10px;
    position: relative; }
    #voucher-page .voucher .voucher-image {
      width: 530px; }
    #voucher-page .voucher .credit {
      width: 90px;
      font-size: 7px;
      line-height: 8px;
      font-weight: 300;
      top: 35px;
      right: -15px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      position: absolute; }
    #voucher-page .voucher .voucher-barcode {
      top: 132px;
      right: -23px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      position: absolute; }
      #voucher-page .voucher .voucher-barcode img {
        width: 100px; }
  #voucher-page .personnel {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 0;
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    border-top: 2px dotted #BABABA;
    text-align: left; }
    #voucher-page .personnel img {
      width: 150px;
      margin: 5px 0;
      text-align: right;
      float: right; }
      #voucher-page .personnel img li, #voucher-page .personnel img li img {
        width: 130px;
        display: inline-block; }
