{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}tent{% endblock background %}

{% block content %}

  <div class="pass-content">

    <h2> Learn about different parks. </h2>

    <p>Federal lands and waters provide habitats for rare and endangered species.
    At least one or more endangered species are found in 204 of the 394 national
    parks.</p>

    <p> Examples include: the Guadelupe fur seal, the humpback whale and the brown
    pelican. </p>

    <a href='{% url "first_game_lands_map" %}'><button>Next</button></a>

  </div>

{% endblock %}
