{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Game{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}brown-rocks{% endblock background %}

{% block content %}

<h3> How large are the federal lands and waters? </h3>

<p>Federal lands cover somewhere between 635 and 640 million acres (484,000,000
football fields) That's 28% of the 2.27 billion acres of land in the United
States.</p>

<p>Federal lands and waters exist for preservation, recreation and the development
of natural resources.</p>

<p>There are a 117 national monuments. Each presents an interesting view into our
history and culture.</p>

<a href='{% url "first_game_endangered" %}'><button>Next</button></a>
{% endblock %}
