{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content">

    <h2> What are federal lands and waters? </h2>

    Federal lands and waters are owned by the American people (that means you) and
    managed by federal government.

    <p> Federal lands and waters include: </p>

    <ul>
        <li> National parks.  </li>
        <li> National forests. </li>
        <li> National monuments. </li>
    </ul>

    <p>A large number of federal lands and waters are open for recreational use.</p>

    <a href='{% url "first_game_infographic" %}'><button>Next</button></a>

    </div>

{% endblock content %}
