{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Get Your Pass - Fourth Graders" %}{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content">

    <h2> {% trans "What are federal lands and waters?" %} </h2>

    {% trans "Federal lands and waters are owned by the American people (that means you) and managed by federal government." %}

    <p> {% trans "Federal lands and waters include:" %} </p>

    <ul>
        <li> {% trans "National parks." %}  </li>
        <li> {% trans "National forests." %} </li>
        <li> {% trans "National monuments." %} </li>
    </ul>

    <p>{% trans "A large number of federal lands and waters are open for recreational use." %}</p>

    <a href='{% url "first_game_infographic" %}'><button>{% trans "Next" %}</button></a>

    </div>

{% endblock content %}
