{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Game{% endblock title %}

{% block background %}get-your-pass{% endblock background %}

{% block body %}

<h3> What are federal lands and waters? </h3>

Federal lands and waters are owned by the American people (that means you) and
managed by federal government. 

<p> Federal lands and waters include: </p>

<ul>
    <li> National parks.  </li>
    <li> National forests. </li>
    <li> National monuments. </li>
</ul>

A large number of federal lands and waters are open for recreational use.  

<a href='{% url "first_game_infographic" %}'><button>Next</button></a>

{% endblock %}
