# Copy this file to .env so that you can use tools like foreman or autoenv to
# manage these environment variables.

# Which environment? (defaults to development)
DJANGO_SETTINGS_MODULE=ticketer.settings.dev

# To use a sqlite3 DB:
# DATABASE_URL="sqlite:///./foia.db"

# To use PostgreSQL:
DATABASE_URL="postgres://ekip:pike@host:5432/ekip"

# New Relic Key and Toggle, if there is a key New Relic will run
# You'll need to install the New Relic agent available here:
# https://docs.newrelic.com/docs/agents/python-agent/getting-started/python-agent-quick-start
# NEW_RELIC_APP_NAME=`app name`
# NEW_RELIC_LICENSE_KEY=`licence key`
