{% extends "base.html" %}

{% block title %}Exchange Your Voucher{% endblock title %}

{% block page_id %}plan-your-trip{% endblock page_id %}

{% block background %}blue-sky-tent{% endblock background %}

{% block content %}

  <h1>Plan a field trip</h1>

  <p>A field trip is a great learning opportunity. </p>

  <p>Start by selecting a state. Then check out our list of recommended sites. 
  You can see the best time of year to visit and what things that site has to offer. 
  For example, trails, outdoor classrooms, and visitor centers. </p>
  
  <p>You'll also see contact information for each site. 
  Contact the site for help scheduling trips and transportation.</p>

  <form method="GET">
    <ul>
      {{ form.as_ul }}
      <li>
        <button>Submit</button>
      </li>
    </ul>
  </form>

{% endblock content %}

{% block content_inner %}

  <div class="content-inner-block">

    {% if sites %}
    <p> {{state_name}} </p>

    <ol class="sites">
    {% for site in sites %}
      <li>
        <h3><a href="/plan-your-trip/field-trip/{{site.slug}}/">{{ site.name }}</a></h3>
        {% if site.city %}
            <p>{{ site.city }}, {{ site.state }} </p>
        {% endif %}
      </li>
    {% endfor %}
    </ol>
    {% endif %}

  </div>


{% endblock content_inner %}

