{% extends "base.html" %}

{% block title %}Plan a field trip{% endblock title %}

{% block page_id %}plan-your-trip{% endblock page_id %}

{% block background %}caves{% endblock background %}

{% block content %}

  <div class="plan-your-trip-content plan-field-trip">

    <h1>Plan a field trip</h1>

    <p>A field trip is a great learning opportunity. </p>

    <p>Start by selecting a state or territory. Then check out our list of recommended sites.
    You can see the best time of year to visit and what things that site has to offer.
    For example, trails, outdoor classrooms, and visitor centers. </p>

    <p>You'll also see contact information for each site.
    Contact the site for help scheduling trips and transportation.</p>

    <form class="state-select" method="GET">
      <div class="choose-state">
        Choose a state or territory:
      </div>
      {{ form.state }}
      <button>Submit</button>
    </form>

  </div>

{% endblock content %}

{% block content_inner %}

  <div class="sites-container field-trip">

    {% if sites %}
    <section class="state">
      <div class="state-content">
        <h2>Sites to visit in {{state_name}}:</h2>
      </div>
    </section>

    <ul class="sites">
    {% for site in sites %}
      <li>
        <div class="state-content">
          <h3><a href="/plan-your-trip/field-trip/{{site.slug}}/">{{ site.name }}</a></h3>
          {% if site.city %}
            <p>{{ site.city }}, {{ site.state }} </p>
          {% endif %}
        </div>
      </li>
    {% endfor %}
    </ul>
    {% else %}
    <section class="state">
        <div class="state-content">
        <h2> No results for: {{state_name}}. </h2>
        </div>
    </section>
    {% endif %}

  </div>


{% endblock content_inner %}

