{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Plan your trip" %}{% endblock title %}

{% block page_id %}plan-your-trip{% endblock page_id %}

{% block background %}blue-sky-tent{% endblock background %}

{% block content %}

  <div class="plan-your-trip-content">

    <h1>{% trans "Plan your trip" %}</h1>

    <p>{% trans '"We come and go, but the land is always here. And the people who love it and understand it are the people who own it — for a little while."' %} <span class="author">- Willa Cather</span></p>

    <p>{% trans "Plan your adventure using these tools. No matter where you live in the United States, there's a site within two hours of your home." %}</p>

    <div class="lets-get-going">
      {% trans "Let's Get Going!" %}

      <svg class="arrow-down" width="36px" height="21px" viewBox="0 0 36 21" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-757.000000, -384.000000)" fill="#FFE897">
            <path d="M792.840667,386.497942 L790.349333,384 L774.920333,399.469926 L759.491333,384 L757,386.497942 L774.920333,404.465809 L792.840667,386.497942"></path>
          </g>
        </g>
      </svg>
    </div>

  </div>

{% endblock content %}

{% block content_inner %}

  <div class="plan-your-trip-line-container">
    <div class="lines"></div>
  </div>

  <section class="destination">
    <div class="section-content">

      <h2>{% trans "Explore parks and sites" %}</h2>
      <ul>
        <li>
          <a class="simpleModal" href="http://www.fws.gov/refuges/" target="_blank">
          <div class="icon">
            <img src="{% static "img/icon-owl.png" %}" class="owl" alt="{% trans 'owl icon' %}" />
          </div>
          <h3>{% trans "See protected animals" %}</h3>
          <p>fws.gov</p>
          </a>
        </li>
        <li>
          <a class="simpleModal" href="http://www.discovertheforest.org" target="_blank" title="This link will direct you to a non-government website that may have different privacy policies from those of the Department of the Interior." class="tooltip">
          <div class="icon">
            <img src="{% static "img/icon-tree.png" %}" class="tree" alt="{% trans 'tree icon' %}" />
          </div>
          <h3>{% trans "Visit the woods" %}</h3>
          <p>discovertheforest.org</p>
          </a>
        </li>
        <li>
          <a class="simpleModal" href="http://findyourpark.com/find" target="_blank" title="This link will direct you to a non-government website that may have different privacy policies from those of the Department of the Interior." class="tooltip">
          <div class="icon">
            <img src="{% static "img/icon-mountains.png" %}" class="mountains" alt="{% trans 'mountains icon' %}" />
          </div>
          <h3>{% trans "Go to a park" %}</h3>
          <p>findyourpark.com</p>
          </a>
        </li>
        <li>
          <a class="simpleModal" href="http://recreation.gov" target="_blank">
          <div class="icon">
            <img src="{% static "img/icon-compass.png" %}" class="compass" alt="{% trans 'compass icon' %}" />
          </div>
          <h3>{% trans "More places to play" %}</h3>
          <p>recreation.gov</p>
          </a>
        </li>
      </ul>
      <!-- modal content -->
		<div id="modal-content">
			<img src="{% static "img/100-compass.png" %}" class="modal-compass" />
			<h3>{% trans "You're about to explore" %}<br />
			{% trans "another website!" %}</h3>
			<p>{% trans "It will list lots of places to visit! But not all will accept your paper pass. If you aren't sure whether your paper pass will work, have an adult call before you go." %}</p>
			<a class="button-link"><button class="modal-continue-button"><span class="modal-continue-text-top">{% trans "Continue" %}</span><br/><span class="modal-continue-text-bottom"></span></button></a>
		</div>
    </div>
  </section>

  <section class="lodging">
    <div class="section-content">

      <div class="lodging-image">
        <img src="{% static "img/plan-your-trip-lodging.png" %}" alt="" />
      </div>

      <div class="lodging-content">
        <h2>{% trans "Get a place to stay" %}</h2>

        <p>{% trans "Your family may want to stay somewhere overnight. You can reserve a cabin or campsite on" %} <a class="simpleModal" href="http://www.recreation.gov" target="_blank">recreation.gov</a>.</p>

      </div>

    </div>
  </section>

  <section class="prepare">
    <div class="section-content">

      <div class="prepare-content">

        <h2>{% trans "Pack this" %}</h2>
        <p>{% trans "Note: some of our sites don't get cell service. This means you might not be able to make or get phone calls, texts, or emails when you visit." %}</p>

      </div>

      <div class="packing-list">

        <h3>{% trans "What to bring" %}</h3>
        <ul>
          <li>{% trans "Water" %}</li>
          <li>{% trans "Healthy snacks" %}</li>
          <li>{% trans "A first-aid kit" %}</li>
          <li>{% trans "Comfortable shoes" %}</li>
          <li>{% trans "Sunglasses" %}</li>
          <li>{% trans "A hat" %}</li>
          <li>{% trans "Sunscreen" %}</li>
          <li>{% trans "Gloves (if it's cold)" %}</li>
          <li>{% trans "Bug spray" %}</li>
          <li>{% trans "A map" %}</li>
          <li>{% trans "Emergency numbers" %}</li>
        </ul>
      </div>

    </div>
  </section>

  <section class="voucher">
    <div class="section-content">

      <div class="voucher-image">
        <img src="{% static "img/plan-your-trip-voucher-new.png" %}" alt="" />
      </div>

      <div class="voucher-content">
        <h2>{% trans "Bring your pass" %}</h2>

        <p>{% trans "Make sure you bring your pass to get in for free." %}</p>

        <p> {% trans "At some sites, the ranger will exchange your paper pass for a plastic pass. The plastic pass is waterproof and a great keepsake!" %}</p>

        <a href="{% url 'pass_exchange' %}"><button>{% trans "Sites with plastic passes" %}</button></a>

      </div>

    </div>
  </section>

<section class="amtrak">
  <div class="section-content">

      <div class="amtrak-content">
        <h2>Take a train</h2>

        <p>Your family may want to take a train.  Amtrak is offering fourth graders — like you — a discount on train tickets. When an adult buys a full-price ticket, you'll get 75% off. Visit <a class="simpleModal" href="https://www.amtrak.com/everykidinapark" target="_blank">Amtrak</a> to learn more.</p>

      </div>
      
      <div class="amtrak-image">
        <img src="{% static "img/plan-your-trip-amtrak.png" %}" alt="" />
      </div>

    </div>
  </section>
  
  <section class="field-trip-sites">
    <div class="section-content">

      <div class="field-trip-sites-content">
        <h2>{% trans "Field trips" %}</h2>

        <p>{% trans "A field trip with your class offers a unique learning opportunity." %}</p>

        <p>{% trans "Many of our sites are ready for large groups and offer programs created for fourth graders." %}</p>
        
        <p>{% trans "This program only provides passes for fourth graders." %}</p>

        <a href="{% url 'field_trip' %}"><button>{% trans "Field trip sites" %}</button></a>

      </div>

    </div>
  </section>

{% endblock content_inner %}
