{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Plan your trip{% endblock title %}

{% block page_id %}plan-your-trip{% endblock page_id %}

{% block background %}blue-sky-tent{% endblock background %}

{% block content %}

  <div class="plan-your-trip-content">

    <h1>Plan your trip</h1>

    <p>"We come and go, but the land is always here. And the people who love it and understand it are the people who own it — for a little while." <span class="author">- Willa Cather</span></p>

    <p>Plan your adventure using these tools. No matter where you live in the United States,
    there's a site within two hours of your home.</p>

    <div class="lets-get-going">
      Let's Get Going!

      <svg class="arrow-down" width="36px" height="21px" viewBox="0 0 36 21" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-757.000000, -384.000000)" fill="#FFE897">
            <path d="M792.840667,386.497942 L790.349333,384 L774.920333,399.469926 L759.491333,384 L757,386.497942 L774.920333,404.465809 L792.840667,386.497942"></path>
          </g>
        </g>
      </svg>
    </div>

  </div>

{% endblock content %}

{% block content_inner %}

  <div class="plan-your-trip-line-container">
    <div class="lines"></div>
  </div>

  <section class="destination">
    <div class="section-content">

      <h2>Explore parks and sites</h2>
      <ul>
        <li>
          <a href="http://www.fws.gov/refuges/" target="_blank">
          <div class="icon">
            <img src="{% static "img/icon-owl.png" %}" class="owl" alt="owl icon" />
          </div>
          <h3>See protected animals</h3>
          <p>fws.gov</p>
          </a>
        </li>
        <li>
          <a href="http://www.discovertheforest.org" target="_blank" title="This link will direct you to a non-government website that may have different privacy policies from those of the Department of the Interior." class="tooltip">
          <div class="icon">
            <img src="{% static "img/icon-tree.png" %}" class="tree" alt="tree icon" />
          </div>
          <h3>Visit the woods</h3>
          <p>discovertheforest.org</p>
          </a>
        </li>
        <li>
          <a href="http://findyourpark.com/find" target="_blank" title="This link will direct you to a non-government website that may have different privacy policies from those of the Department of the Interior." class="tooltip">
          <div class="icon">
            <img src="{% static "img/icon-mountains.png" %}" class="mountains" alt="mountains icon" />
          </div>
          <h3>Go to a park</h3>
          <p>findyourpark.com</p>
          </a>
        </li>
        <li>
          <a href="http://recreation.gov" target="_blank">
          <div class="icon">
            <img src="{% static "img/icon-compass.png" %}" class="compass" alt="compass icon" />
          </div>
          <h3>More places to play</h3>
          <p>recreation.gov</p>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="lodging">
    <div class="section-content">

      <div class="lodging-image">
        <img src="{% static "img/plan-your-trip-lodging.png" %}" alt="" />
      </div>

      <div class="lodging-content">
        <h2>Get a place to stay</h2>

        <p>Your family may want to stay somewhere overnight. You can reserve a cabin or
        campground on <a href="http://www.recreation.gov">recreation.gov</a>.</p>

      </div>

    </div>
  </section>

  <section class="prepare">
    <div class="section-content">

      <div class="prepare-content">

        <h2>Pack this</h2>
        <p>Note: some of our sites don't get cell service. This means you might not be able to make or get phone calls,
        texts, or emails when you visit.</p>

      </div>

      <div class="packing-list">

        <h3>What to bring</h3>
        <ul>
          <li>Water</li>
          <li>Healthy snacks</li>
          <li>A first-aid kit</li>
          <li>Comfortable shoes</li>
          <li>Sunglasses</li>
          <li>A hat</li>
          <li>Sunscreen</li>
          <li>Gloves (if it's cold)</li>
          <li>Bug spray</li>
          <li>A map</li>
          <li>Emergency numbers</li>
        </ul>
      </div>

    </div>
  </section>

  <section class="voucher">
    <div class="section-content">

      <div class="voucher-image">
        <img src="{% static "img/plan-your-trip-voucher.png" %}" alt="" />
      </div>

      <div class="voucher-content">
        <h2>Bring your pass</h2>

        <p>Make sure you bring your pass to get in for free.</p>

        <p> At some sites, the ranger will exchange your paper pass for a plastic pass.
        The plastic pass is waterproof and a great keepsake!</p>

        <button><a href="{% url 'pass_exchange' %}">Sites with plastic passes</a></button>

      </div>

    </div>
  </section>

  <section class="destination">
    <div class="section-content">

      <div class="voucher-content">
        <h2>Field trips</h2>

        <p>A field trip with your class offers a unique learning
        opportunity.</p>

        <p>Many of our sites are ready for large groups and offer programs
        created for fouth graders.</p>

        <button><a href="{% url 'field_trip' %}">Field trip sites</a></button>

      </div>

    </div>
  </section>

{% endblock content_inner %}
