{% extends "base.html" %}

{% block title %}Exchange Your Voucher{% endblock title %}

{% block page_id %}plan-your-trip{% endblock page_id %}

{% block background %}brown-rocks{% endblock background %}

{% block content %}

  <h1>Exchange Your Voucher</h1>

  <p> You can exchange your voucher for a 4th grade pass at any of these
  federal land and water sites. </p>

  <p> Start by selecting the state you are in, or that you plan to visit.
  </p>

  <form method="GET">
    <ul>
      {{ form.as_ul }}
      <li>
        <button>Submit</button>
      </li>
    </ul>
  </form>

  {% if sites %}
  <ul class="sites">
  {% for site in sites %}
    <li>
      <h3><a href="{{ site.website }}">{{ site.name }}</a></h3>
      <p>{{ site.city }}, {{ site.state }} </p>
    </li>
  {% endfor %}
  </ul>
  {% endif %}

{% endblock content %}

