{% extends "base.html" %}

{% block title %}Exchange Your Voucher{% endblock title %}

{% block page_id %}plan-your-trip{% endblock page_id %}

{% block background %}blue-sky-tent{% endblock background %}

{% block content %}

  <div class="plan-your-trip-content">

    <h1>Exchange Your Voucher</h1>

    <p> You can exchange your voucher for a 4th grade pass at any of these
    federal land and water sites. </p>

    <p> Start by selecting the state you are in, or that you plan to visit.
    </p>

    <form class="pass-exchange-state" method="GET">
      <div class="choose-state">
        Choose a state:
      </div>
      {{ form.state }}
      <button>Go</button>

    </form>

  </div>

{% endblock content %}

{% block content_inner %}

  <div class="pass-exchange-sites">

    {% if sites %}
    <section class="state">
      <div class="exchange-content">
        <h2>Where to exchange your pass in {{state_name}}:</h2>
      </div>
    </section>

    <ul class="sites">
    {% for site in sites %}
      <li>
        <div class="exchange-content">
          <h3><a href="{{ site.website }}">{{ site.name }}</a></h3>
          <p>{{ site.city }}, {{ site.state }} </p>
        </div>
      </li>
    {% endfor %}
    </ul>
    {% endif %}

  </div>

{% endblock content_inner %}

