{% extends "base.html" %}

{% block title %}Get Your Pass - Educators{% endblock title %}

{% block page_id %}educators{% endblock page_id %}

{% block background %}hills{% endblock background %}

{% block content %}

  <h2>Get Vouchers For Your Students</h2>

  <p>As a 4th grade educator, you can download a learning activity and print paper vouchers for your students. These vouchers will give them free access for up to a full year to all federal lands and waters.</p>

  <div class="explanation">

    <h3>You are a 4th-grade educator if ...</h3>
    <p>You are a teacher of 4th graders at a US school or a US military school, or</p>
    <p>You are responsible for the engagement of 4th graders as part of a youth serving organization. This includes religious group leaders, camp directors and leaders of home-schoolers or after-school programs.</p>

    <button>begin</button>

  </div>

{% endblock content %}

{% block content_inner %}

  <h3>First download the activity</h3>
  <p>We've created a fun and interactive learning activity to help you introduce topics surrounding national lands and waters to your 4th-grade students.</p>

  <h3>Then generate vouchers</h3>
  <p>Once your students have successfully completed the activity, you can award them with vouchers. Each student will receive their own individual voucher, with a unique code. Complete this short form to access the vouchers.</p>

  <form action="" method="post">
    {% csrf_token %}

    {% include "educator_form.html" %}

    <input type="hidden" name="{{stage_field}}" value="1" />
    <button>Next:<br/>Review Info</button>
  </form>

{% endblock content_inner %}
