{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block title %}{% trans "Get your pass" %} - {% trans "educators" %}{% endblock title %}

{% block page_id %}educators{% endblock page_id %}

{% block background %}caves{% endblock background %}

{% block content %}

  <div class="educator-content">

    <h1>{% trans "Get passes for your students" %}</h1>

    <h2>{% trans "As a fourth-grade educator, you can download an activity and print paper passes for each of your students. This program only provides passes for fourth graders." %} </h2>
    
    <h3>{% trans "You're a fourth-grade educator if" %}: </h3>
    <p>{% trans "You're a teacher at a U.S. or U.S. military school, or" %}</p>
    <p>{% trans "You're an adult who engages fourth graders through a youth-serving organization. For example, a camp director, a home-school leader, an after-school leader, or a religious group leader." %}</p>

    <button class="educator-begin">{% trans "begin" %}</button>

    <svg class="animate-line" width="372px" height="272px" viewBox="0 0 372 272" version="1.1">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-356.000000, -567.000000)" stroke-width="4" stroke-dasharray="6,4">
          <g transform="translate(358.000000, 567.000000)">
            <path d="M0.320987654,163.886359 L0.320987654,217.409935 L367.716362,217.409935 L367.716362,272.000153" stroke-opacity="0.3" stroke="#2D6C35" transform="translate(184.018675, 217.943256) scale(1, -1) translate(-184.018675, -217.943256) "></path>
              <path d="M368,0 L368,165" stroke="#FFD77B"></path>
          </g>
        </g>
      </g>
    </svg>

  </div>

{% endblock content %}

{% block content_inner %}
  <div class="content-inner-block">
    {% get_current_language as LANGUAGE_CODE %}
    <div class="download-activity">
      <h3>{% trans "Download" %}<br/> {% trans "Activity Guides" %}</h3>
      <p>{% trans "Activity" %} 1: <a href="{% if LANGUAGE_CODE == 'es-us' %}{% static "activities/es_us/scholastic-one.pdf" %}{% else %}{% static "activities/scholastic-one.pdf" %}{% endif %}" target="_blank">{% trans "Exploring Federal Lands and Waters" %}</a> (PDF). {% trans "This lesson teaches students why our country protects lands and waters." %}</p>
      <p>{% trans "Activity" %} 2: <a href="{% if LANGUAGE_CODE == 'es-us' %}{% static "activities/es_us/scholastic-two.pdf" %}{% else %}{% static "activities/scholastic-two.pdf" %}{% endif %}" target="_blank">{% trans "Environmental Stewardship" %}</a> (PDF). {% trans "This lesson shows students how to take care of lands and waters." %}</p>
      <p>{% trans "Activity" %} 3: <a href="{% if LANGUAGE_CODE == 'es-us' %}{% static "activities/es_us/scholastic-three.pdf" %}{% else %}{% static "activities/scholastic-three.pdf" %}{% endif %}" target="_blank">{% trans "Our Nation’s Native Peoples" %}</a> (PDF). {% trans "This lesson teaches students about the people who lived on this land before it was called the United States." %}</p>
      <p>{% trans "Activity" %} 4: <a href="{% if LANGUAGE_CODE == 'es-us' %}{% static "activities/es_us/scholastic-four.pdf" %}{% else %}{% static "activities/scholastic-four.pdf" %}{% endif %}" target="_blank">{% trans "Citizen Science" %}</a> (PDF). {% trans "This lesson helps kids learn about the difference between weather and climate." %}</p>
    </div>
    <div class="generate-vouchers">
      <h3>{% trans "Generate passes" %}</h3>
      <p>{% trans "Each student receives a paper pass with a unique code. That pass gives them free access to all national parks, lands, and waters through August 31, 2017." %}</p>
      <p><a href="{% url 'privacy_policy' %}">{% trans "Privacy notice" %}</a>.</p>
    </div>

    <form action="" method="post" class="pass-form">
      {% csrf_token %}

      {% include "get-your-pass/educator_form.html" %}

      <p class="pass-limit-text">{% trans "You can only print up to 50 passes at a time. To print more than 50 passes, just fill this form out again." %}</p>

      <input type="hidden" name="{{stage_field}}" value="1" />
      <button type="submit">{% trans "Next" %}:<br/><span>{% trans "Review Information" %}</span></button>
    </form>
  </div>

{% endblock content_inner %}
