{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Your Free Pass</title>

  <link rel="stylesheet" href="{% static 'css/voucher.min.css' %}" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="{% static 'js/barcode.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/min/voucher.js' %}"></script>
</head>
<body>

  <div class="print">

    <button>
      Click this button to<br/>
      <span>PRINT YOUR PASS</span>
    </button>

  </div>

  <div class="voucher-container">

    <div class="heading">
      <h1>Congratulations!</h1>
      <h2>You've earned a free pass</h2>
      <h3>to all federal parks, lands, and waters</h3>
      <h4>Start your adventure!</h4>
    </div>

    <div class="steps">

      <img src="{% static 'img/voucher-rules.svg' %}" class="step-lines" alt="" />

      <div class="voucher">
        <img class="voucher-image" src="{% static 'img/voucher.jpg' %}" alt="" />

        <div class="credit">
          "Weathered Wood Texture" by chefranden, CC by 2.5
          https://www.flickr.com/photos/
          chefranden/4757787899/
        </div>

        <div class="voucher-barcode">
          <img class="barcode" alt="barcode" data-id="{{ locator }}" />
        </div>
      </div>

      <ol>
        <li class="print-page">
          <h2>Print this page</h2>
          <p>You must have a printed pass. We can't take electronic copies.</p>
        </li>
        <li class="plan">
          <h2>Hit the road</h2>
          <p>Plan your trip at www.everykidinapark.gov/planyourtrip</p>
        </li>
        <li class="get">
          <h2>Get your pass and get in free!</h2>
          <p>Show this paper to exchange for your free pass, or use it for access until you can. Be safe and have fun!</p>

          <img class="durable-pass" src="{% static 'img/durable-pass.jpg' %}" alt="" />
        </li>
      </ol>

    </div>

    <div class="personnel">
      <span>This area for official use by facility personnel.</span>
      <img alt="barcode" data-id="{{ locator }}" />
    </div>

  </div>

  <div class="voucher-instructions">

    <div class="instruction-content">

      <h2>Instructions</h2>

      <p>Our national lands and waters belong to everyone. That includes you!  Use this pass to visit any of them for free.  You can bring your family and friends with you for free, too!</p>

      <strong>Official rules</strong>

      <ul>
        <li>The pass is for U.S. fourth graders (or home-school equivalent) students.</li>
        <li>The pass is for the 2015 to 2016 school year. It expires August 31, 2016. </li>
        <li>Students can't transfer the pass to anyone else.</li>
        <li>We can’t accept electronic versions of this paper for access or to exchange for a pass. </li>
        <li>There’s no way to request a refund later if you forget the pass when you visit.</li>
        <li>If you lose your pass, get a new one by visiting the website and signing up again. </li>
        <li>Educators can get one paper pass for each of their fourth-grade students. </li>
      </ul>

      <strong>How it works</strong>

      <ul>
        <li>Show your pass to a ranger when you enter. If there is no ranger, leave it on the dashboard of your car.</li>
        <li>If you visit a site that charges entrance fees per person— The pass admits all children under 16 and up to three adults for free. </li>
        <li>If your group visits a site that charges vehicle fees - The pass admits all children under 16 and all adults in up to one passenger vehicle.  Commercial vehicles can't use a pass to get in.</li>
        <li>If you arrive at a site on bicycle— The pass admits all children under 16 and up to three adults on bicycles.</li>
        <li>The pass doesn't cover things like camping, boats, and special tours.   Also, some sites are managed by private operators.  They may not honor the pass.  Check with the site ahead of time to find out.</li>
        <li>The pass doesn’t cover fees for local, city, or state parks and recreation areas unless they say that they accept this pass.</li>
      </ul>

    </div>

  </div>

</body>
</html>
