{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Your Free Voucher</title>

  <link rel="stylesheet" href="{% static 'css/voucher.min.css' %}" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="{% static 'js/barcode.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/voucher.js' %}"></script>

</head>
<body>

  <div class="voucher-container">

    <div class="heading">
      <h1>Congratulations!</h1>
      <h2>You've earned a free pass</h2>
      <h3>To all Federal Lands and Waters</h3>
      <h4>Follow these instructions to start your adventure!</h4>
    </div>

    <div class="steps">

      <img src="{% static 'img/voucher-rules.svg' %}" class="step-lines" alt="" />

      <div class="voucher">
        <img class="voucher-image" src="{% static 'img/voucher.jpg' %}" alt="" />

        <div class="credit">
          "Weathered Wood Texture" by chefranden, CC by 2.5
          https://www.flickr.com/photos/
          chefranden/4757787899/
        </div>

        <div class="voucher-barcode">
          <img class="barcode" alt="barcode" data-id="{{ locator }}" />
        </div>
      </div>

      <ol>
        <li class="print-page">
          <h2>Print this page</h2>
          <p>Great job! First print this paper voucher and put it in a safe place until you are ready to use it.</p>
        </li>
        <li class="plan">
          <h2>Hit the road</h2>
          <p>Click "Plan Your Trip" on this website (www.everykidinapark.gov) to learn about all of the places you can go.</p>
        </li>
        <li class="get">
          <h2>Get in free!</h2>
          <p>Show this paper voucher to receive free access and/or claim your 4th grade pass. Be safe and have fun!</p>

          <img class="durable-pass" src="{% static 'img/durable-pass.jpg' %}" alt="" />
        </li>
      </ol>

    </div>

    <div class="personnel">
      <span>This area for official use by facility personnel.</span>
      <img alt="barcode" data-id="{{ locator }}" />
    </div>

  </div>

  <div class="voucher-instructions">

    <div class="instruction-content">

      <h2>This is a page of instructions on how to redeem your free paper pass to all federal lands and waters.</h2>

      <p>Bacon ipsum dolor amet short ribs doner strip steak prosciutto ball tip salami cupim. T-bone picanha ground round, beef ribs tongue pork tenderloin corned beef. Pork belly chuck ham frankfurter, short loin cupim meatball sirloin. Biltong beef ribs ground round leberkas.</p>

    </div>

  </div>

</body>
</html>
