{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Your Free Voucher</title>

  <link rel="stylesheet" href="{% static 'css/voucher.min.css' %}" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="{% static 'js/barcode.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/voucher.js' %}"></script>

</head>
<body>

  <div id="voucher-page">

    <div class="heading">
      <h1>Congratulations!</h1>
      <h2>You've earned a free pass</h2>
      <h3>To all Federal Lands and Waters</h3>
    </div>

    <div class="voucher">
      <div class="voucher-barcode">
        <img class="barcode" alt="barcode" data-id="{{ locator }}" />
      </div>
      <img src="{% static 'img/voucher.png' %}" alt="" />
    </div>

    <div class="personnel">
      <span>This area for official use by facility personnel.</span>
      <img alt="barcode" data-id="{{ locator }}" />
    </div>

  </div>

</body>
</html>
