{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content voucher-claim">

    <h1>You did it!<br/>Claim your pass</h1>

    <div class="voucher-claim-description">

      <p>Success! You'll get your paper pass on the next screen. Please print it and keep it in a safe place. Remember to take it with you on your trip.</p>

    </div>

    <div class="voucher-claim-zipcode">
      <img src="{% static "img/envelope-zipcode.png" %}" alt="" />
    </div>

    <form method="POST">
      {% csrf_token %}

      {% for field in form %}

        {{ field.label_tag }}
        {% if field.errors %}
          <div class="error">
            <div>{{ field.errors }}</div>
            {{ field }}
          </div>
        {% else %}
        {{ field }}
        {% endif %}

      {% endfor %}

      <button>Get my pass</button>
    </form>

    <div class="no-zipcode">
      <a href="{% url 'fourth_grade_voucher' %}?zip=00000">I don't know my zip code</a>.<br/>
      <a href="{% url 'privacy_policy' %}">Privacy notice</a>.
    </div>

  </div>

{% endblock content %}
