{% extends "base.html" %}

{% block title %}
  Get Your Pass
{% endblock title %}

{% block body %}

<div class="hero get-your-pass">

  <h2>Get Your Pass</h2>

  <ul>
    <li>
      <h3>I'm a 4th grader</h3>
      <p>Just complete a fun activity to earn a voucher for your free pass to adventure!</p>

      <button>Start</button>
    </li>
    <li>
      <h3>I'm not a 4th grader</h3>
      <p>Sorry, you can't get a voucher, but you can still plan a trip.</p>
      <button>Plan a Trip</button>
    </li>
    <li>
      <h3>I'm a 4th-grade educator</h3>
      <p>Get a classroom activity book and download vouchers for your students.</p>
      <button>Downloads</button>
    </li>
  </ul>

</div>

{% endblock %}
