{% extends "base.html" %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}tent{% endblock background %}

{% block content %}

  <div class="pass-content">

    <h1>Start your outdoor adventure right now</h1>
    <p>4th graders, play a game and discover all the wonderful places you can go. After the game, you can print the voucher you’ll need to get your free pass.</p>

    <form method="POST">
      {% csrf_token %}
      {{form}}
      <button>Start</button>
    </form>

  </div>

{% endblock content %}
