{% extends "base.html" %}

{% block title %}Get Your Pass - Fourth Graders{% endblock title %}

{% block page_id %}student-pass{% endblock page_id %}

{% block background %}leaves{% endblock background %}

{% block content %}

  <div class="pass-content">

    <h1>Start your adventure right now</h1>
    <p>We've put together a sneak peak of cool places you can visit in America. 
    Fill out the "choose your own adventure" diary entry with things you want to see and do. 
    When you're done, read your story! Then print your paper pass.</p>

    <form method="POST">
      {% csrf_token %}

      <label for="in_the_fourth_grade">
      <input id="in_the_fourth_grade" name="in_the_fourth_grade" type="checkbox" value="Y" />
      <span>Yes, I'm in the fourth grade or home-school equivalent</span></label>

      <button>Play</button>
    </form>

  </div>

{% endblock content %}
