      <strong>Official rules</strong>

      <ul>
        <li>The pass is for U.S. fourth-grade (or home-school equivalent) students.</li>
        <li>The pass is for the 2015 to 2016 school year. It expires August 31, 2016.</li>
        <li>Students can't transfer the pass to anyone else.</li>
        <li>We can’t accept electronic versions of this paper for access or to exchange for a pass.</li>
        <li>There’s no way to request a refund later if you forget the pass when you visit.</li>
        <li>If you lose your pass, get a new one by visiting the website and signing up again.</li>
        <li>Educators can get one paper pass for each of their fourth-grade students.</li>
        <li>This program only provides passes for fourth graders.</li>
        <li>Current third graders can get their fourth-grade passes starting September 1, 2016.</li>
      </ul>

      <strong>How it works</strong>

      <ul>
        <li>Show your pass to a ranger when you enter. If there is no ranger, leave it on the dashboard of your car.</li>
        <li>If you visit a site that charges entrance fees per person— The pass admits all children under 16 and up to three adults for free.</li>
        <li>If your group visits a site that charges vehicle fees - The pass admits all children under 16 and all adults in up to one passenger vehicle.  Commercial vehicles can't use a pass to get in.</li>
        <li>If you arrive at a site on bicycle— The pass admits all children under 16 and up to three adults on bicycles.</li>
        <li>The pass doesn't cover things like camping, boats, and special tours.   Also, some sites are managed by private operators.  They may not honor the pass.  Check with the site ahead of time to find out.</li>
        <li>The pass doesn’t cover fees for local, city, or state parks and recreation areas unless they say that they accept this pass.</li>
        <li>Paper passes can be exchanged for plastic passes at certain sites.</li>
      </ul>

