#educators {

  .educator-content {
    background: rgba(45, 108, 53, 0.7);
    padding: 35px;
    margin: 0 0 80px 0;
    position: relative;

    h1 {
      font-size: 39px;
    }
    h2 {
      font-size: 26px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      margin: 2px 0 50px 0;
    }
    h3 {
      font-family: 'Lato', sans-serif;
      font-size: 26px;
      color: $yellow;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      margin: 15px 0;
    }
    a {
      text-decoration: none;
    }

    button {
      background: #FFE087;
      color: $brown;
      letter-spacing: 1px;
      font-weight: 400;
      padding: 15px 25px;
      margin: 25px auto 0 auto;
      display: block;
    }

    .animate-line {
      right: 355px;
      position: absolute;
      display: none;
    }
  }

  .content-inner {
    background: #E9FCEB;
    color: #306B38;
  }

  .content-inner-block {
    max-width: 470px;
    padding: 100px 0;
    margin: auto;

    h3 {
      font-size: 30px;
      padding: 0;
    }
    p {
      font-size: 18px;
      line-height: 1.4em;
      color: #323232;
      margin-bottom: 15px;
    }

    .download-activity {
      max-width: 310px;
      padding: 0 0 90px 50px;
      border-left: 5px dotted #B0CFB4;
      position: relative;

      h3 {
        line-height: 32px;
      }

      &:before {
        background: #2D6C35;
        color: #E9FCEB;
        padding: 13px 15px;
        font-family: "Superclarendon", serif;
        font-size: 38px;
        line-height: 25px;
        font-weight: bold;
        border-radius: 30px;
        content: "1";
        position: absolute;
        left: -28px;
      }
    }

    .generate-vouchers {
      padding: 0 0 0 50px;
      position: relative;

      &:before {
        background: #2D6C35;
        color: #E9FCEB;
        padding: 13px;
        font-family: "Superclarendon", serif;
        font-size: 38px;
        line-height: 25px;
        font-weight: bold;
        border-radius: 30px;
        content: "2";
        position: absolute;
        top: -10px;
        left: -24px;
      }
    }
  }

  form {
    max-width: 370px;
    padding: 15px 0 0 0;
    margin: 0 0 0 50px;

    @include clearfix();

    span {
      font-size: 18px;
    }

    fieldset {
      border: none;
      padding: 0;

      legend {
        display: none;
      }
    }

    ul {
      padding: 10px 0;
    }

    li {
      list-style: none;
      margin: 0 0 15px 0;
      clear: both;

      label {
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 5px;
        display: block;
      }

      input[type="text"] {
        width: 100%;
        font-size: 18px;
        border: 1px solid #5A7C5D;
        padding: 15px;
        margin: 0 0 10px 0;
      }
      input[type="number"] {
        width: 50px;
        font-size: 18px;
        border: 1px solid #5A7C5D;
        padding: 10px;
      }
      select {
        font-size: 18px;
      }

      .org_or_school {

        > label {
          display: none;
        }

        ul {
          padding: 0;

          li {
            margin: 0;
            display: inline-block;
            position: relative;
            padding-left: 15px;

            input[type="radio"] {
              margin: 0 5px 0 0;
            }

            &:nth-child(1) {
              padding: 0 20px 0 0;
            }

            &:nth-child(2) {
              padding: 0 0 0 35px;

              &:before {
                content: "or";
                font-size: 18px;
                position: absolute;
                left: 0;
              }
            }
          }
        }
      }
      .city {
        max-width: 230px;
      }
      .state {
        max-width: 200px;
        float: left;
      }
      .zipcode {
        max-width: 100px;
        float: right;
      }

      .error {
        color: #ff0000;

        input, select {
          border: 1px solid red;
        }

        &.org_or_school {
          border: none;
        }
      }
    }

    button {
      color: #fff;
      letter-spacing: 1px;
      padding: 10px 20px;
      margin-right: -30px;
      background: #306B38;
      font-weight: 400;
      float: right;

      span {
        color: #FFD77B;
        font-size: 14px;
      }
    }
  }

  .preview {
    max-width: 550px;
    background: #D7FDDC;
    color: #306B38;
    padding: 30px;
    font-weight: 200;
    font-size: 18px;

    h2 {
      font-size: 30px;
    }
    p {
      color: #323232;
      font-size: 18px;
    }

    form {
      margin: 0;
    }

    .data {
      padding: 20px 0 0 90px;

      form {
        width: auto;

        .buttons {
          margin: 30px 0;
        }

        .back {
          border: 1px solid $green;
          padding: 15px 28px;
          margin: 0 20px 0 0;
          font-family: "Superclarendon", serif;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 400;
          text-align: center;
          display: inline-block;
          cursor: pointer;
        }

        button {
          padding: 15px 20px;
          border: 1px solid $green;
          font-weight: 400;
          display: inline-block;
          vertical-align: top;
          margin: 0;
          float: none;
        }
      }
    }

    .edit {
      padding: 30px 0;
      clear: both;
    }
  }
}
