#educators {

  .content {
    padding-bottom: 100px;

    h2, p, .explanation {
      width: 710px;
    }
    p {
      font-size: 22px;
      font-weight: 300;
    }

    .explanation {
      width: 570px;
      border: 2px solid #FFE087;
      padding: 20px;
      margin: 20px 0;

      h3 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
      }
      p {
        width: auto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4em;
      }

      button {
        background: #FFE087;
        color: #683E2D;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 15px 20px;
        margin: 25px auto 0 auto;
        display: block;
      }
    }
  }

  .content-inner {
    background: #E9FCEB;
    color: #306B38;
  }

  .content-inner-block {
    width: 580px;
    padding: 75px 0;
    margin: auto;

    h3 {
      font-size: 30px;
      text-transform: uppercase;
      padding: 0;
    }
    p {
      font-size: 18px;
      line-height: 1.4em;
      color: #323232;
      margin-bottom: 30px;
    }

    .download-activity {
      width: 330px;
      padding: 0 0 90px 0;
    }

  }

  form {
    width: 370px;
    padding: 15px 0;

    @include clearfix();

    span {
      font-size: 18px;
    }

    ul {
      padding: 10px 0;
    }

    li {
      list-style: none;
      margin: 0 0 15px 0;
      clear: both;

      label {
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 5px;
        display: block;
      }

      input[type="text"] {
        width: 100%;
        border: 1px solid #5A7C5D;
        padding: 15px;
        margin: 0 0 10px 0;
      }
      input[type="number"] {
        width: 50px;
        border: 1px solid #5A7C5D;
        padding: 10px;
      }

      .org_or_school {

        > label {
          display: none;
        }

        ul {
          padding: 0;

          li {
            margin: 0;
            display: inline-block;
            position: relative;
            padding-left: 15px;

            input[type="radio"] {
              margin: 0 5px 0 0;
            }

            &:nth-child(1) {
              padding: 0 20px 0 0;
            }

            &:nth-child(2) {
              padding: 0 0 0 35px;

              &:before {
                content: "or";
                font-size: 18px;
                position: absolute;
                left: 0;
              }
            }
          }
        }
      }
      .city {
        width: 230px;
      }
      .state {
        width: 200px;
        float: left;
      }
      .zipcode {
        width: 100px;
        float: right;
      }

      .error {
        input, select {
          border: 1px solid red;
        }

        &.org_or_school {
          border: 1px solid red;
        }
      }
    }

    button {
      color: #fff;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 10px 20px;
      margin-right: -30px;
      background: #306B38;
      float: right;

      span {
        color: #FFD77B;
        font-size: 14px;
      }
    }
  }

  .preview {
    width: 550px;
    background: #D8FCDD;
    color: #306B38;
    padding: 30px;

    .data {
      padding: 20px 0 0 150px;
      font-weight: 700;

      form {
        width: auto;

        button {
          margin: 0 60px 0 0;
        }
      }
    }

    .edit {
      padding: 30px 0;
      clear: both;
    }
  }

}
