footer {
  background: #FDEED0;
  clear: both;

  .footer-content {
    width: $site-width;
    padding: 40px 0;
    color: #2D6C35;
    margin: auto;
    text-align: center;

    p {
      color: #683E2D;
      font-size: 16px;
      font-weight: 300;
    }

    ul.social {
      padding: 10px 0 30px 0;
      font-weight: bold;

      li {
        padding: 0 15px;
        display: inline-block;

        a {
          display: table;
        }

        span {
          padding: 0 0 0 5px;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    nav {

      li {
        line-height: 12px;
        font-size: 12px;
        padding: 0 10px;
        border-right: 1px solid #683E2D;
        display: inline-block;

        &:last-child {
          padding-right: 0;
          border: none;
        }
      }
    }
  }
}
