footer {
  background: #FDEED0;
  clear: both;

  .footer-content {
    width: $site-width;
    padding: 50px 0;
    margin: auto;
    color: #306B37;

    h3 {
      color: #683E2D;
      font-size: 23px;
      text-transform: uppercase;
    }

    nav {

      ul {
        padding: 5px 0;
      }

      li {
        padding: 5px 0;
      }
    }
  }
}
