footer {
  background: $cream;
  border-top: 5px solid #000;
  color: $green;
  clear: both;

  .footer-content {
    max-width: $site-width;
    padding: 40px 0;
    margin: auto;
    text-align: center;

    p {
      color: $brown;
      font-size: 16px;
      font-weight: 300;
    }

    ul.social {
      padding: 5px 0 30px 0;
      font-weight: bold;

      li {
        padding: 0 5px;
        display: inline-block;

        a {
          text-decoration: none;
          display: table;
        }

        span {
          padding: 0 0 0 5px;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    nav {
      li {
        line-height: 12px;
        font-size: 12px;
        padding: 0 10px;
        border-right: 1px solid $brown;
        display: inline-block;
        font-weight: 400;

        a {
          text-decoration: none;
        }

        &:last-child {
          padding-right: 0;
          border: none;
        }
      }
    }
  }
}
