#get-your-pass {

  .pass-content {
    background: rgba(23, 112, 153, 0.9);
    padding: 30px;
    font-size: 18px;
    font-weight: 300;

    @include clearfix();

    h1 {
      width: 370px;
      font-size: 40px;
      line-height: 40px;
      padding: 0 0 13px 0;
      float: left;
    }
    p {
      width: 370px;
      line-height: 25px;
      margin: 0 0 30px 0;
      float: left;
    }
    img {
      float: left;
    }

    ul.boxes {
      width: 254px;
      float: right;

      li {
        font-size: 16px;
        padding: 25px;
        margin: 0 0 15px 0;
        border: 2px solid $blue-light;
        text-align: center;
        float: right;

        a {
          text-decoration: none;
        }
        h2 {
          color: $yellow;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
        p {
          width: auto;
          margin: 0;
          font-size: 14px;
          line-height: 18px;
        }

        &.fourth-graders {
          background: $yellow;
          border: none;
          color: $blue;

          h2 {
            color: $blue;
            font-size: 20px;
            line-height: 22px;
            font-weight: bold;
            text-transform: uppercase;
          }
          p {
            font-size: 16px;
            line-height: 22px;
            margin: 0 0 20px 0;
          }
          button {
            background: url(../img/icon-fish-blue.png) center left 10px no-repeat;
            border: 2px solid $blue;
            color: $blue;
            font-weight: 600;
            padding: 10px 20px 10px 45px;
            letter-spacing: 1px;

            @include transition(background 0.2s ease-in, color 0.2s ease-in);

            &:hover {
              border: 2px solid $blue;
              background: $blue url(../img/icon-fish-white.png) center left 10px no-repeat;

              color: #fff;
            }
          }
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
