#get-your-pass {

  .content {

    .pass-content {
      width: 600px;
      background: #1E7197;
      padding: 30px;

      h2 {
        padding: 0;
      }
    }

    ul {
      margin: 30px 0 0 0;
    }

    .boxes li {
      width: 31%;
      height: 160px;
      border: 2px solid #fff;
      margin: 0 10px 0 0;
      font-size: 14px;
      vertical-align: top;
      display: inline-block;

      div {
        height: 130px;
        padding: 15px;
      }

      a {
        display: block;
      }

      h3 {
        color: #FED681;
        padding: 0;
      }

      button {
        background: #673E2F;
        color: #fff;
        border: none;
        padding: 10px 15px;
        margin: 15px 0 0 0;
        font-size: 13px;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
