#get-your-pass {

  .content {

    .pass-content {
      max-width: 670px;
      background: rgba(23, 112, 153, 0.9);
      padding: 35px;
      font-size: 18px;
      font-weight: 300;
    }

    ul {
      margin: 30px 0 0 0;
    }

    .boxes li {
      width: 31%;
      height: 220px;
      border: 2px solid #fff;
      margin: 0 10px 0 0;
      font-size: 16px;
      vertical-align: top;
      display: inline-block;

      a {
        display: block;
      }

      div {
        height: 130px;
        padding: 17px;
      }

      h2 {
        font-size: 18px;
        font-weight: bold;
        color: #FFE897;
        text-transform: uppercase;
        padding: 5px 0 0 0;
      }

      button {
        background: $yellow;
        color: #fff;
        border: none;
        padding: 10px 15px;
        margin: 15px 0 0 0;
        font-size: 13px;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
