.govt-banner {
  background-color: #2C2C2C;
  color: #fff;
  text-align: center;
  padding: 7px 0;
  font-size: 13px;
}

header {
  width: $site-width;
  margin: auto;
}

nav.top-links {
  padding: 20px 0 20px 0;
  text-align: right;

  ul li {
    font-size: 14px;
    line-height: 14px;
    padding: 0 10px;
    border-right: 1px solid #fff;
    display: inline-block;

    &:last-child {
      padding-right: 0;
      border: none;
    }
  }
}

