.govt-banner {
  background-color: #2C2C2C;
  color: #fff;
  text-align: center;
  padding: 7px 0;
  font-size: 13px;
}

header {
  width: $site-width;
  margin: 0 auto 10px auto;
}

nav.top-links {
  text-align: right;

  ul {
    background: rgba(0, 0, 0, 0.6);
    margin: 2px 0 0 0;
    padding: 5px 45px 10px 45px;
    display: inline-block;
  }
  ul li {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    padding: 0 10px;
    border-right: 1px solid #fff;
    display: inline-block;

    &:last-child {
      padding-right: 0;
      border: none;
    }
  }
}

#educators .educators-link {
  color: #F7D27F;
}
