#how-it-works {

  .content-block {
    width: 600px;
    font-size: 22px;
    font-weight: 300;
    text-align: center;

    h1 {
      text-align: left;
    }
    p {
      text-align: left;
      margin: 0;
    }

    button {
      font-size: 18px;
      margin: 100px 0 0 0;
      padding: 20px 30px;
      border: 4px solid #fff;

      @include transition(background 0.2s ease-in, color 0.2s ease-in);

      &:hover {
        background: #fff;
        color: $blue;
      }
    }
  }
  .content-inner {
    font-weight: 300;

    h2 {
      font-size: 30px;
    }

    ol {
      li {
        width: 100%;
        height: 100%;
        padding: 60px 0 120px 0;
        background: $red;
        list-style: none;

        &:nth-child(even) {
          background: $cream;
          color: #000;

          h2 {
            background: $red;
            color: #fff;
          }

          .step-container {
            margin-left: 300px;
          }
        }

        h2 {
          width: 50px;
          height: 45px;
          background: #fff;
          border-radius: 30px;
          font-size: 38px;
          color: $red;
          margin: 0 20px 0 0;
          text-align: center;
          display: inline-block;
          vertical-align: top;
        }

        .step-container {
          max-width: 900px;
          margin: auto;

          .step {
            width: 500px;
            font-size: 22px;
            display: inline-block;
          }
        }
      }
    }

    .reminders {
      max-width: 1030px;
      padding: 60px 20px 80px 20px;
      margin: auto;

      ul {
        max-width: 600px;
      }
      li {
        font-size: 16px;
        line-height: 20px;
        padding: 0 0 10px 0;
      }
    }

  }
}
