#how-it-works {

  .content-block {
    max-width: 600px;
    background: rgba(45, 108, 53, 0.7);
    padding: 35px;
    font-size: 26px;
    font-weight: 400;
    text-align: center;

    h1 {
      text-align: left;
    }
    p {
      text-align: left;
      margin: 0;
    }

    .lets-get-going {
      width: 145px;
      margin: 45px auto 0 auto;
      text-transform: uppercase;
      font-family: "Superclarendon", serif;
      text-align: center;
      color: $yellow;
      font-size: 19px;
      font-weight: 700;
      letter-spacing: 1px;
      cursor: pointer;

      .arrow-down {
        margin: 25px auto 10px auto;
        display: block;
      }
    }
  }
  .content-inner {
    font-weight: 300;

    h2 {
      font-size: 30px;
    }

    ol {
      li {
        width: 100%;
        height: 100%;
        padding: 60px 0 120px 0;
        background: $red;
        list-style: none;

        &:nth-child(even) {
          background: $cream;
          color: #000;

          h2 {
            background: $red;
            color: #fff;
          }

          .step-container {
            margin-left: 300px;
          }
        }

        h2 {
          width: 50px;
          height: 45px;
          background: #fff;
          border-radius: 30px;
          font-size: 38px;
          color: $red;
          margin: 0 20px 0 0;
          text-align: center;
          display: inline-block;
          vertical-align: top;
        }

        .step-container {
          max-width: 900px;
          margin: auto;

          .step {
            max-width: 500px;
            font-size: 22px;
            display: inline-block;
          }
        }
      }
    }

    .reminders {
      max-width: 1030px;
      padding: 60px 20px 80px 20px;
      margin: auto;

      ul {
        max-width: 600px;
      }
      li {
        font-size: 16px;
        line-height: 20px;
        padding: 0 0 10px 0;
      }
    }

  }
}
