#landing {

  .content {
    width: $site-width;
    text-align: center;
    padding: 0;
    margin: auto;

    img {
      margin: 40px 0 15px 0;
    }

    .landing-description {
      font-size: 22px;
      font-weight: 300;
      margin: 0 auto 45px auto;
    }

    button {
      border: 4px solid #fff;
      background: transparent;
      font-family: "Superclarendon", serif;
      font-weight: bold;
      letter-spacing: 1px;
      color: #fff;
      font-size: 19px;
      padding: 20px 15px;
      margin: 0 0 70px 0;
    }
  }
}
