nav.main-nav {
  max-width: $nav-width;
  position: absolute;
  top: 40px;

  img {
    width: 150px;
    margin: 40px 0 20px 35px;
  }

  ul {
    display: inline-block;
  }

  li {
    background: #fff;
    color: #456D97;
    margin: 0 0 20px 0;
    border: 2px solid #177099;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family: "Superclarendon", serif;
    text-align: center;
    display: inline-block;

    a {
      width: inherit;
      height: inherit;
      padding: 12px 15px;
      text-decoration: none;
      color: #456D97;
      display: block;

      @include transition(background-color 0.4s ease-in, color 0.4s ease-in);

      &:hover {
        background: #1E7197;
        color: #fff;

      }
    }

    &:nth-child(odd) {
      margin-left: 35px;
    }

  }
}

