ul.top-links {
  background: rgba(0, 0, 0, 0.5);
  margin-top: 2px;
  padding: 0 30px 0 0;
  right: 0;
  position: absolute;
  z-index: 500;
  display: inline-block;

  li {
    font-size: 14px;
    line-height: 12px;
    font-weight: bold;
    margin: 12px 0;
    padding: 0 15px;
    border-right: 1px solid #fff;
    display: inline-block;

    a {
      text-decoration: none;
      opacity: 0.7;

      @include transition(opacity 0.4s ease-in);

      &:hover {
        opacity: 1;
      }
    }

    &.active {
      a {
        color: $yellow;
        opacity: 1;
        cursor: default;
      }
    }
    &:last-child {
      border: none;
    }
  }
}

#educators .educators-link {
  color: $yellow;
}

.menu-container {
  max-width: $site-width;
  margin: auto;
  position: relative;

  nav {
    max-width: $nav-width;
    position: absolute;
    top: 50px;

    .logo {
      margin: 0 0 20px 27px;
      z-index: 100;
      font-size: 14px;
      display: inline-block;
      position: relative;

      img {
        width: 174px;
      }

      @include transition(opacity 0.3s ease-in);

      span {
        left: 61px;
        bottom: 13px;
        position: absolute;
        opacity: 0;

        @include transition(opacity 0.5s ease-in);
      }
      a {
        text-decoration: none;
      }
      &:hover {
        opacity: .8;

        span {
          opacity: 1;
        }
      }
    }
    .logo-line {
      top: 150px;
      left: 110px;
      position: absolute;
    }

    .menu {
      position: relative;
    }

    .lines {
      width: 55px;
      height: 99px;
      top: 35px;
      right: 27px;
      z-index: 0;
      position: absolute;

      g {
        stroke: #fff;
      }
    }

    ul {
      z-index: 100;
      position: relative;
      display: inline-block;
    }

    li {
      z-index: 100;
      background: #fff;
      margin: 0 0 20px 0;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      font-family: "Superclarendon", serif;
      text-align: center;
      display: inline-block;

      &.active a {
        background: $blue;
        color: #fff;
        border: 2px solid #fff;
        cursor: default;

        &:hover {
          opacity: 1;
        }

        &:before {
          width: 55px;
          height: 55px;
          background: url(../img/nav-compass.png) center center no-repeat;
          content: "\00a0";
          top: 5px;
          left: -37px;
          position: absolute;
        }
      }

      a {
        width: inherit;
        height: inherit;
        border: 2px solid $blue;
        padding: 12px 15px;
        text-decoration: none;
        color: $blue;
        position: relative;
        display: block;

        @include transition(background 0.1s ease-in, color 0.1s ease-in);

        &:hover {
          background: $blue;
          border: 2px solid #fff;
          color: #fff;
          opacity: 0.8;
        }
      }

      &:nth-child(1) {
        margin-left: 40px;

        a:before {
          top: -25px;
          left: -40px;
        }
      }

      &:nth-child(3) {
        margin-left: 55px;

        a:before {
          top: 20px;
          left: -35px;
        }
      }
    }
  }
}
