#plan-your-trip {

  .plan-your-trip-content {
    background: rgba(1, 63, 91, 0.6);
    padding: 35px;
  }

  .content {
    min-height: 540px;
    font-weight: 300;
    font-size: 24px;
    line-height: 25px;

    h1 {
      max-width: 580px;
      line-height: 45px;
    }
    p {
      max-width: 580px;
      line-height: 28px;
      margin: 5px 0 15px 0;
    }

    .author {
      font-size: 17px;
      text-transform: uppercase;
    }

    form {
      ul {
        width: 300px;
        margin: 25px auto;
        border: 2px solid #fff;
        padding: 20px;

        li {
          padding: 10px 0;
          text-align: center;
          list-style: none;
        }
      }
    }
    button {
      background: $blue;
      color: #fff;
      font-weight: 600;
      padding: 10px 20px;
      letter-spacing: 1px;
    }
  }

  .content-inner {
    font-weight: 300;

    button {
      background: $yellow;
      color: $blue;

      @include transition(background 0.2s ease-in, color 0.2s ease-in);

      &:hover {
        background: #fff;
        color: $blue;
      }
    }

    .plan-your-trip-line-container {
      max-width: 950px;
      margin: auto;
      position: relative;

      .lines {
        width: 932px;
        height: 1594px;
        background: url(../img/plan-your-trip-lines.png) no-repeat;
        top: 70px;
        left: 100px;
        position: absolute;
      }
    }

    section {
      min-height: 500px;
      margin: auto;
      font-size: 20px;
      line-height: 24px;

      h2 {
        font-size: 36px;
        line-height: 42px;
      }
      p {
        font-size: 24px;
        line-height: 28px;
        margin: 10px 0;
      }

      .section-content {
        max-width: 950px;
        margin: auto;
        position: relative;
      }

      &.destination {
        background: #B1DAEC;
        color: $blue;

        .section-content {
          max-width: 720px;
          padding: 70px 0 0 200px;

          > p {
            max-width: 620px;
          }

          ul {
            margin: 20px 0 0 0;
          }
          li {
            width: 160px;
            height: 110px;
            padding: 25px;
            margin: 0 10px 20px 0;
            background: #fff;
            text-align: center;
            display: inline-block;
            vertical-align: top;

            h3 {
              font-size: 20px;
              font-family: 'Lato', sans-serif;
            }
            a {
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
            p {
              font-size: 18px;
              line-height: 22px;
            }

            &:nth-child(2),
            &:nth-child(3) {
              h3 {
                color: $yellow;
              }
              p {
                color: #fff;
              }
            }
            &:nth-child(2) {
              background: $blue;
            }
            &:nth-child(3) {
              background: $green;
            }
          }
        }
      }
      &.lodging {
        background: $green;

        .section-content {
          padding: 70px 0 0 0;

          .lodging-image {
            display: inline-block;
          }
          .lodging-content {
            max-width: 400px;
            padding: 70px 0 0 120px;
            vertical-align: top;
            display: inline-block;
          }
        }
      }
      &.prepare {
        min-height: 550px;
        background: #CBE4CE;
        color: $green;

        .section-content {
          padding: 60px 0 0 0;
          cursor: text;

          .prepare-content {
            width: 340px;
            padding: 70px 30px 0 200px;
            vertical-align: top;
            display: inline-block;
          }
          .packing-list {
            width: 350px;
            background: #fff;
            display: inline-block;

            h3 {
              font-size: 30px;
              padding: 30px 0 10px 20px;
              font-weight: 400;
            }
            ul {
              width: auto;
              margin: 5px 20px;
              border-top: 2px solid $green;
              padding: 20px;
              font-size: 18px;
              font-weight: 600;
            }
          }
        }
      }
      &.voucher {
        background: $blue;
        color: #fff;

        .section-content {
          padding: 60px 0 0 0;
        }

        .voucher-image {
          padding: 0 0 0 70px;
          vertical-align: top;
          display: inline-block;
        }
        .voucher-content {
          width: 450px;
          padding: 0 0 50px 140px;
          display: inline-block;
        }
      }
    }
  }

  .content-inner-block {
    width: 800px;
    padding: 50px 0;
    margin: auto;

    ol li {
      list-style-type: decimal;
    }

    .sites {

      li {
        padding: 20px 0;
      }

      h3 {
        font-size: 24px;
      }
      p {
        font-size: 20px;
      }

    }


  }

}
