@media (max-width: 1050px) {
  nav.main-nav {
    left: 25px;
  }
  .content {
    margin-right: 25px;
  }
}

@media (max-width: 800px) {

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }

  nav.top-links {
    display: none;
  }

  nav.main-nav {
    max-width: 100%;
    top: 0;
    left: 0;
    position: relative;
    text-align: center;

    img {
      margin: 5px 0;
    }

    ul {
      margin: 0 5px;
      display: block;
    }

    li {
      font-size: 13px;
      margin: 5px;

      a {
        padding: 8px 10px;
      }

      &:nth-child(odd) {
        margin: 0;
      }
    }

  }

  .content {
    padding: 0;
    margin: 0;
  }

  #landing {
    .main-nav {
      top: 20px;
    }

    h1 {
      font-size: 50px;
    }

    .content {
      padding: 0 20px;
    }
  }

  #get-your-pass .content {
    .pass-content {
      padding: 20px;
    }
  }

  #student-pass .content {
    .pass-content {
      padding: 20px;
    }
  }

  #educators {
    .content {
      padding: 20px;
    }
    .content-inner-block {
      padding: 20px;
    }
    form {
      width: 100%;
      border: 1px solid red;
    }
  }
}
