@media (max-width: 1050px) {
  .menu-container nav {
    left: 25px;
  }

  .content {
    margin-right: 25px;
  }

  #landing .content-inner-block section {
    li .description {
      max-width: 400px;
    }
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }

  ul.top-links {
    display: none;
  }

  .menu-container {
    top: 0;
  }

  .menu-container nav {
    max-width: 100%;
    top: 0;
    left: 0;
    position: relative;
    text-align: center;

    .logo {
      margin: 5px 0;
    }

    .logo-line,
    .lines {
      display: none;
    }

    ul {
      margin: 0 5px;
      display: block;
    }

    li {
      font-size: 13px;
      margin: 5px;

      &.active a:before {
        display: none;
      }

      a {
        padding: 8px 10px;

        &:hover:before {
          display: none;
        }
      }

      &:nth-child(odd) {
        margin: 0;
      }
    }

  }

  .content {
    padding: 10px 20px;
    margin: 0;
  }

  #landing {

    .menu-container nav {
      top: 0;
      padding: 5px 0;
    }

    h1 {
      font-size: 28px;
      padding: 0;
    }

    .content {
      padding: 0 20px;

      .logo {
        margin: 0;
      }

      button {
        font-size: 16px;
        padding: 15px;
        margin: 0;
      }
    }

    .content-inner-block {
      background: $red;

      section {
        padding: 20px 0;

        li {

          .image {
            display: none;
          }

          .description {
            padding: 10px 20px;

            h2 {
              font-size: 26px;
            }
            p {
              font-size: 19px;
              margin-bottom: 15px;
            }
          }

          &:nth-child(even) .image {
            float: none;
          }

          &.ekip,
          &.fourth-graders,
          &.parents,
          &.educators {
            margin: 10px 0;

            .image,
            .description {
              margin: 0;
            }
          }
        }
      }
    }

    .content-inner-quote section {
      padding: 30px 20px;

      .quote {
        font-size: 26px;
      }
    }

  }

  #get-your-pass,
  #student-pass {
    .content .pass-content {
      padding: 20px;

      h1 {
        font-size: 28px;
      }
    }
  }

  #get-your-pass .content .pass-content {
    h1,
    p,
    img,
    ul.boxes,
    ul.boxes li {
      width: auto;
      float: none;
    }
    p {
      margin: 15px 0;
    }
    img {
      width: 100%;
    }
  }

  #student-pass .voucher-claim {
    img {
      margin: 10px 0;
    }
    form button {
      margin-top: 10px;
    }
  }

  #educators {
    .content {
      padding: 20px;
    }
    .content-inner-block {
      padding: 20px;
    }
    form {
      width: 100%;
    }
  }

  #plan-your-trip {
    .content {
      min-height: 0;
    }

    .content-inner {

      .plan-your-trip-line-container {
        display: none;
      }

      section {
        width: auto;
        min-height: 0;

        h2 {
          font-size: 25px;
          line-height: 100%;
        }
        &.destination,
        &.lodging,
        &.prepare,
        &.voucher {
          padding: 20px;
          min-height: 0;

          .section-content {
            width: auto;
            padding: 0;

            .lodging-image {
              display: none;
            }
            .lodging-content,
            .prepare-content {
              width: auto;
              padding: 0;
            }
            .packing-list {
              width: auto;
              margin: 20px 0;

              ul {
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }
}
