@media (max-width: 1050px) {
  .menu-container nav {
    left: 25px;
  }

  .content {
    margin-right: 25px;
  }

  #landing .content-inner-block section {
    li .description {
      max-width: 400px;
    }
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }

  ul.top-links {
    display: none;
  }

  .menu-container {
    top: 0;
  }

  .menu-container nav {
    max-width: 100%;
    top: 0;
    left: 0;
    position: relative;
    text-align: center;

    .logo {
      margin: 5px 0;
    }

    .home-line,
    .lines {
      display: none;
    }

    ul {
      display: block;
    }

    li {
      font-size: 13px;
      margin: 5px;
      display: inline-block;

      &.active a:before {
        display: none;
      }

      a {
        padding: 8px 10px;

        &:hover:before {
          display: none;
        }
      }

      &:nth-child(2),
      &:nth-child(4) {
        margin: 5px;
      }
    }
  }

  .content {
    padding: 10px 20px;
    margin: 0;
    min-height: 0;
  }

  footer .footer-content {
    padding: 20px;

    img.doi {
      top: 0;
      position: relative;
    }

    nav {
      margin: 15px 0;
    }

    nav li {
      margin: 0;
    }

  }


  #landing {

    .menu-container nav {
      top: 0;
      padding: 5px 0;
    }

    h1 {
      font-size: 28px;
      padding: 0;
    }

    .content {
      padding: 20px;

      .logo {
        margin: 0 0 15px 0;
      }

      button,
      .animate-line {
        display: none;
      }
    }

    .content-inner-block {
      background: $red;

      section {
        padding: 20px 0;

        li {

          .image {
            display: none;
          }

          .description {
            padding: 10px 20px;

            h2 {
              font-size: 26px;
            }
            p {
              font-size: 19px;
              margin-bottom: 15px;
            }
          }

          &:nth-child(even) .image {
            float: none;
          }

          &.ekip,
          &.fourth-graders,
          &.parents,
          &.educators {
            margin: 10px 0;

            .image,
            .description {
              margin: 0;
            }
          }
        }
      }
    }

    .content-inner-quote section {
      padding: 30px 20px;

      .quote {
        font-size: 26px;
      }
    }

  }

  #how-it-works {

    .content-block {
      padding: 20px;
      margin: 0 0 20px 0;

      .lets-get-going {
        display: none;
      }
    }
    .content-inner {

      .how-it-works-line-container {
        display: none;
      }

      section {
        min-height: 0;

        h2 {
          font-size: 28px;
          line-height: 28px;
        }
        p {
          font-size: 22px;
          line-height: 24px;
        }

        &.get-your-pass,
        &.plan-a-trip,
        &.hit-the-road,
        &.reminders {

          .section-content {
            padding: 20px;
          }

          .image {
            margin: 0;
            position: relative;
            left: 0;

            img {
              width: 100%;
            }
          }

          .description {
            max-width: 100%;
            margin: 20px 0;
          }
        }
      }
    }
  }

  #get-your-pass,
  #student-pass {
    .content .pass-content {
      padding: 20px;

      h1 {
        font-size: 28px;
      }
    }
  }

  #student-pass {

    .diary {
      min-height: 0;

      .diary-left,
      .diary-right {
        width: 100%;
        float: none;

        .page {
          margin: 5px 0;
        }
      }
      .diary-left .page {
        padding-bottom: 20px;
      }

      &.diary-end .page button {
        margin-bottom: 20px;
      }

      .page {
        min-height: 0;
        margin: 0;

        h2 {
          font-size: 30px;
          padding: 20px 0 10px 0;
        }
        p {
          font-size: 20px;
          line-height: 27px;
        }

        button.start {
          margin: 20px auto;
        }
      }
    }
  }

  #get-your-pass .content .pass-content {

    ul.boxes {
      margin: 15px 0;

      li {
        width: 100%;
        height: auto;
        padding: 0 0 20px 0;
        margin: 0 0 15px 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  #student-pass .voucher-claim {
    img {
      margin: 10px 0;
    }
    form button {
      margin-top: 10px;
    }
  }

  #educators {
    .educator-content {
      padding: 20px;
      margin: 0 0 20px 0;

      h1 {
        font-size: 26px;
      }
      h2 {
        font-size: 24px;
        margin: 5px 0 15px 0;
      }
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 16px;
      }
      button {
        display: none;
      }
    }

    .content-inner-block {
      padding: 20px;
    }

    form {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .preview {
      padding: 20px;

      h2 {
        font-size: 26px;
      }
      .data {
        padding: 20px 0;

        form .buttons {
          margin-bottom: 0;
        }

        form .back {
          margin-bottom: 15px;
        }
      }
    }
  }

  #plan-your-trip {

    .plan-your-trip-content {
      padding: 20px;
      font-size: 18px;

      .lets-get-going {
        display: none;
      }
    }

    .content {
      font-size: 20px;
      min-height: 0;
    }

    .content-inner {

      .plan-your-trip-line-container {
        display: none;
      }

      section {
        width: auto;
        min-height: 0;
        font-size: 18px;

        h2 {
          font-size: 26px;
          line-height: 20px;
        }

        p {
          font-size: 18px;
          line-height: 24px;
          margin: 5px 0;
        }

        &.destination,
        &.lodging,
        &.prepare,
        &.voucher {
          padding: 20px;
          min-height: 0;

          .section-content {
            width: auto;
            padding: 0;

            .lodging-image {
              display: none;
            }
            .lodging-content,
            .prepare-content {
              max-width: none;
              padding: 0;
            }
            .packing-list {
              max-width: none;
              margin: 10px 0;

              h3 {
                font-size: 24px;
                padding: 10px;
              }

              ul {
                padding: 10px;
                font-size: 16px;
              }
            }
            .voucher-image {
              padding: 20px;
              display: block;
              text-align: center;
            }
            .voucher-content {
              width: auto;
              padding: 0;
            }
          }
        }
      }
    }

    .sites-container {

      .state-content {
        padding: 20px;

        h2 {
          font-size: 24px;
        }
      }
      .sites li {
        font-size: 16px;

        h3 {
          font-size: 18px;
        }
      }
    }

  }

  #about {
    .about-content {
      padding: 20px;
      font-size: 18px;
    }

    .content-inner {

      .background-fishies {
        display: none;
      }

      .agencies-content {
        padding: 20px;

        h2 {
          font-size: 24px;
        }

        .participating {
          margin: 20px 0;

          h3 {
            font-size: 20px;
          }
          p {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }

      .contact {
        padding: 20px;
      }
      .contact-content {
        img {
          margin: 0 0 20px 0;
          max-width: 100%;
        }
        h2 {
          font-size: 18px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}
