#student-pass {

  .pass-content {
    max-width: 670px;
    background: rgba(23, 112, 153, 0.9);
    padding: 35px;
    font-size: 18px;
    font-weight: 300;
    @include clearfix();

    form {
      max-width: 360px;
      margin: 30px auto;
      border: 2px solid #fff;
      padding: 30px;
      text-align: center;

      .error {
        color: #ff0000;
        font-size: 14px;
        font-weight: bold;

        div {
          padding: 0 0 10px 0;
        }
        input[type="text"] {
          border: 1px solid #ff0000;
        }
      }
    }

    label {
      font-size: 16px;
      padding: 0 0 15px 0;
      cursor: pointer;
      display: block;

      span {
        font-weight: bold;
      }
    }

    input[type="checkbox"] {
      background: $yellow;
    }

    button {
      margin: 15px 0 0 0;
      padding: 15px 40px;
      background: $yellow;
      color: $blue;
      letter-spacing: 1px;
    }
  }

  .diary {
    min-height: 523px;
    padding: 0;

    @include clearfix();

    .diary-left {
      width: 50%;
      float: left;

      .page {
        margin-right: 2px;
      }
    }

    .diary-right {
      width: 50%;
      float: right;

      .page {
        margin-left: 2px;
      }
    }

    &.diary-end .page h2 {
      padding: 20px 0 0 0;
    }
    &.diary-end .page button {
      background: $green;
      color: $yellow;

      &:hover {
        background: $red;
      }
    }
    &.diary-end .diary-right {
      text-align: center;

      img {
        margin: 20px 0 0 0;
      }
    }

    .page {
      min-height: 525px;
      background: #fff;
      padding: 0 25px;
      margin: 4px;

      @include clearfix();

      h2 {
        font-size: 40px;
        color: $red;
        padding: 40px 0 0 0;
      }
      p {
        color: $blue;
        font-size: 22px;
        font-weight: 400;
        margin: 5px 0 15px 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
      span {
        color: $red;
      }
      a {
        text-decoration: none;
      }
      button.start {
        background: $blue;
        color: $yellow;
        margin: 40px auto 0 auto;
        display: block;

        &:hover {
          background: $red;
        }
      }

      ul {
        padding: 10px 0;
        margin: 0;

        li {
          margin: 20px 0;
          position: relative;

          img {
            width: 100%;
          }

          button {
            width: 100%;
            padding: 15px 5px;
            background: rgba(23, 112, 153, 0.9);
            color: $yellow;
            bottom: 8px;
            left: 0;
            position: absolute;
          }
        }
      }

      form {
        max-width: 100%;
        margin: 0;
        border: none;
        padding: 0;
      }
    }
  }

  .voucher-claim {

    .voucher-claim-description {
      max-width: 420px;
      float: left;
    }
    .voucher-claim-zipcode {
      width: 210px;
      padding: 0 0 0 15px;
      float: left;
    }

    form {
      max-width: 100%;
      margin: 0;
      padding: 0;
      text-align: left;
      border: none;
      vertical-align: top;
      clear: both;

      label {
        font-weight: bold;
        padding: 0 0 10px 0;
        cursor: default;
      }

      input[type="text"] {
        width: 180px;
        height: 28px;
        padding: 10px;
        margin: 0 15px 0 0;
        color: #177099;
        font-size: 16px;
        border: 1px solid #fff;
        background: rgba(255, 255, 255, 0.7);
        float: left;
      }

      button {
        width: 202px;
        height: 50px;
        background: $yellow;
        font-weight: normal;
        padding: 15px;
        margin: 0;
        float: left;
      }
    }

    .no-zipcode {
      padding: 10px 0 0 0;
      clear: both;

      a {
        font-size: 16px;
      }
    }
  }
}
