@import "bourbon";

$site-width: 985px;
$nav-width: 210px;

$gray: #2C2C2C;
$yellow: #FFE897;
$blue: #177099;
$blue-light: #489BC0;
$blue-dark: #013F5B;
$red: #C82629;
$green: #2D6C35;
$brown: #683E2D;
$cream: #FDEED0;

@font-face {
  font-family: 'Superclarendon';
  src: url('../fonts/superclarendon_bd-webfont.eot');
  src: url('../fonts/superclarendon_bd-webfont.eot?#iefix') format('../fonts/embedded-opentype'),
       url('../fonts/superclarendon_bd-webfont.woff2') format('woff2'),
       url('../fonts/superclarendon_bd-webfont.woff') format('woff'),
       url('../fonts/superclarendon_bd-webfont.ttf') format('truetype'),
       url('../fonts/superclarendon_bd-webfont.svg#superclarendon_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html {
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding:0;
  margin:0;
  overflow-x: hidden;
}

body {
  background: $blue;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0 0 5px 0;
  font-family: "Superclarendon", serif;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin: 5px 0;
}

ul, ol {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

button {
  font-family: "Superclarendon", serif;
  text-transform: uppercase;
  padding: 10px 15px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-align: center;

  a {
    text-decoration: none;
  }

  @include transition(background 0.2s ease-in, color 0.2s ease-in);
}

#skipnav {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus {
    height: auto;
    width: auto;
    top: 0;
  }
}

.govt-banner {
  background-color: $gray;
  color: #fff;
  text-align: center;
  padding: 7px 0;
  font-size: 13px;
  z-index: 1000;
}

#curtain {
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 400;
  display: none;
}

@import "nav";

.mountain {
  background: url(../img/backgrounds/mountain.jpg) no-repeat center bottom;
  background-size: cover;

  .menu-container nav li {
    border: none;
  }
}

.caves {
  background: url(../img/backgrounds/caves.jpg) no-repeat center bottom;
  background-size: cover;
}

.leaves {
  background: url(../img/backgrounds/leaves.jpg) no-repeat center bottom;
  background-size: cover;
}

.brown-rocks {
  background: url(../img/backgrounds/brownrocks.jpg) no-repeat center center bottom;
  background-size: cover;
}

.blue-sky-tent {
  background: url(../img/backgrounds/blue-sky-tent.jpg) no-repeat center bottom;
  background-size: cover;
}

.canoeing {
  background: url(../img/backgrounds/canoeing.jpg) no-repeat center bottom;
  background-size: cover;
}

.forest {
  background: url(../img/backgrounds/forest.jpg) no-repeat center bottom;
  background-size: cover;
}

.liberty {
  background: url(../img/backgrounds/liberty.jpg) no-repeat center bottom;
  background-size: cover;
}

.river {
  background: url(../img/backgrounds/river.jpg) no-repeat center bottom;
  background-size: cover;
}

.content {
  max-width: $site-width - $nav-width - 50;
  min-height: 508px;
  margin: auto;
  padding: 100px 0 50px $nav-width + 50;
  position: relative;
}

nav.mobile-menu,
nav.footer-mobile-menu {
  display: none;
}

.tooltip {
  position: relative;

  &:hover:before,
  &:focus:before {
    background: #fff;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    text-align: left;
    color: $blue;
    border: 1px solid $blue;
    left: 0;
    top: -110px;
    content: attr(title);
    position: absolute;
  }
}

.errors {
  padding: 15px 0;
  color: #ff0000;
}

#privacy-policy {

  .content, .content-inner {
    ul {
      margin: 5px 0 5px 20px;

      li {
        padding: 0 0 5px 0;
        list-style: bullet;
      }
    }

    nav.mobile-menu {
      ul {
        margin: 0;

        li {
          padding: 0;
          list-style: none;

          &.close {
            padding: 15px 20px;
          }
        }
      }
    }
  }
}

#privacy-policy {
  .content {
    font-weight: 200;

    h1 {
      line-height: 40px;
      padding: 0 0 20px 0;
    }
    h2 {
      font-size: 30px;
      padding: 15px 0 0 0;
    }
    h3 {
      padding: 10px 0 0 0;
    }
    p {
      font-size: 20px;
      line-height: 25px;
      margin: 0 0 10px 0;
    }
  }
}

#not-found {
  background: $red url(../img/backgrounds/404.jpg) center center no-repeat;
  background-size: cover;
  min-height: 791px;
  text-align: center;

  #maincontent {
    padding: 60px 0;

    .compass {
      width: 214px;
      height: 216px;
    }

    h1 {
      color: $yellow;
      line-height: 60px;
      padding: 30px 0 0 0;
    }
    h2 {
      font-size: 40px;
      line-height: 60px;
      padding: 0 0 40px 0;
    }
    button {
      border: 4px solid #fff;
      color: $yellow;
      padding: 18px 25px;
      font-size: 19px;
      letter-spacing: 1px;

      &:hover {
        background: #fff;
        color: $red;
      }
    }
  }
}

@import "landing";
@import "how-it-works";
@import "get-your-pass";
@import "student-pass";
@import "educators";
@import "plan-your-trip";
@import "about";
@import "parents";

@import "footer";

@import "responsive";
