@import "bourbon";

$site-width: 950px;
$nav-width: 175px;

body,html {
  background: #4E6A88;
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding:0;
  margin:0;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0 0 10px 0;
  font-family: "Superclarendon", serif;
  text-transform: uppercase;
}
h2 {
  font-size: 35px;
}

p {
  margin: 5px 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

button {
  font-family: "Superclarendon", serif;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  text-align: center;
}

@import "header";
@import "nav";

.mountain {
  background: url(../img/backgrounds/mountain.jpg) no-repeat center center fixed;
  background-size: cover;
}

.hills {
  background: url(../img/backgrounds/hills.jpg) no-repeat center center fixed;
  background-size: cover;
}

.brown-rocks {
  background: url(../img/backgrounds/brownrocks.jpg) no-repeat center center fixed;
  background-size: cover;
}

.content {
  width: $site-width - $nav-width;
  min-height: 500px;
  margin: auto;
  padding: 0 0 50px $nav-width;
}

.errors {
  padding: 10px 0;
  color: #ff0000;
}

@import "landing";
@import "get-your-pass";
@import "educators";


@import "footer";


