@import "bourbon";

@font-face {
  font-family: 'Superclarendon';
  src: url('../fonts/superclarendon_bd-webfont.eot');
  src: url('../fonts/superclarendon_bd-webfont.eot?#iefix') format('../fonts/embedded-opentype'),
       url('../fonts/superclarendon_bd-webfont.woff2') format('woff2'),
       url('../fonts/superclarendon_bd-webfont.woff') format('woff'),
       url('../fonts/superclarendon_bd-webfont.ttf') format('truetype'),
       url('../fonts/superclarendon_bd-webfont.svg#superclarendon_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  padding: 0;
  margin: 0;
}

.print {
  margin: 25px 0 35px 0;
  text-align: center;

  button {
    background: #2D6C35;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    padding: 15px 30px;
    cursor: pointer;
    border: none;

    span {
      font-size: 19px;
      line-height: 40px;
      font-family: "Superclarendon", serif;
      font-weight: 600;
      color: #FFE897;
    }
  }
}

.voucher-container, .voucher-instructions {
  width: 610px;
  // width: 595px;
  height: 842px;
  margin: 0 auto 35px auto;
  border: 1px dotted #ccc;
  page-break-after: always;

  font-family: 'Lato', sans-serif;
  position: relative;

  h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
  }

  .heading {
    height: 145px;
    margin: 15px 0 0 0;

    h1, h2, h3 {
      text-transform: uppercase;
      text-align: center;
    }
    h1 {
      font-family: "Superclarendon", serif;
      font-size: 42px;
      line-height: 40px;
      color: #5D402E;
    }
    h2 {
      font-size: 37px;
      font-weight: 400;
      color: #D7552A;
    }
    h3 {
      font-size: 24px;
      line-height: 30px;
      font-weight: 300;
      color: #6C6C69;
    }
    h4 {
      font-size: 18px;
      color: #4C89A5;
      text-align: center;
      padding: 15px 0 0 0;
    }
  }

  .steps {
    border: 1px solid transparent;
    position: relative;

    .step-lines {
      width: 350px;
      position: absolute;
    }

    .voucher {
      width: 595px;
      margin: 145px 0 0 10px;
      z-index: 0;
      position: absolute;

      .voucher-image {
        width: 550px;
      }

      .credit {
        width: 100px;
        font-size: 8px;
        line-height: 8px;
        font-weight: 300;
        top: 37px;
        right: -27px;
        @include transform(rotate(-90deg));
        position: absolute;
      }

      .voucher-barcode {
        top: 137px;
        right: -34px;
        @include transform(rotate(-90deg));
        position: absolute;

        img {
          width: 100px;
        }
      }
    }

    ol {
      z-index: 100;
      margin: 0;
      position: absolute;

      li {
        height: 110px;
        list-style: none;
        text-align: left;

        h2 {
          font-size: 22px;
          color: #4C89A5;
        }
        p {
          font-size: 14px;
          line-height: 22px;
          font-weight: 300;
          margin: 0;
          color: #000;
        }

        &.print-page {
          width: 220px;
          margin: 35px 0 0 245px;
        }

        &.plan {
          width: 250px;
          margin: 245px 0 0 295px;
        }

        &.get {
          width: 290px;
          margin: 0 0 0 135px;
          position: relative;

          .durable-pass {
            top: 20px;
            right: -120px;
            position: absolute;
          }
        }
      }
    }
  }

  .personnel {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 0;
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    border-top: 2px dotted #BABABA;
    text-align: left;

    img {
      width: 150px;
      margin: 5px 0;
      text-align: right;
      float: right;

      li, li img {
        width: 130px;
        display: inline-block;
      }
    }
  }
}

.voucher-instructions {
  border: 1px dotted #ccc;

  .instruction-content {
    padding: 30px;

    h2 {
      font-family: "Superclarendon", serif;
      font-size: 30px;
      font-weight: 400;
      color: #D7552A;
    }

    p {
      font-size: 18px;
      line-height: 25px;
    }
  }
}

@media print {

  .print {
    display: none;
  }

  .voucher-container,
  .voucher-instructions {
    margin-bottom: 0;
    border: none;
  }
}
